<header><app-header-top></app-header-top></header>
<section id="page-header">
    <div class="container">
      <h1>Leading in Beauty, <br> Fashion and Lifestyle</h1>
    </div>
  </section>
  <section id="main-container">
    <div class="container">
      <div class="title_head">
        <div class="row">
          <div class="col-md-6">
            <h2>Our Story</h2>
          </div>
          <div class="col-md-6 text-right">
              <div class="save-offline">Save Page Offline 
                <label class="switch">
                  <input type="checkbox">
                  <span class="slider round"></span>
                </label>
              </div>
              <div class="social-sare ">
 
                SHARE PAGE <a href="#"><img src="../../../../../assets/images/s1.png"></a> <a href="#"><img src="../../../../../assets/images/s2.png"></a> <a href="#"><img src="../../../../../assets/images/s3.png"></a>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <p>Bumi is a unique social commerce platform that sells fashion, beauty and lifestyle products through our website.</p><p> Our USP is the virtual stores of social media celebrities and influencers where they add their favourite products, allowing their fans and other customers to easily browse through curated selections of products and buy whatever they like.</p>
          <h3>Principles</h3>
          <div class="row">
            <div class="col-md-6">
              <h4>VISION</h4>
              <p>Creating a robust and valuable commerce solution for our customers and communities through collaboration and emerging technologies.</p>
            </div>
            <div class="col-md-6">
              <h4>MISSION</h4>
              <p>To lead e-commerce transformation by adopting and implementing technologies that augment selling effeciency in Kenya and Africa at-large.</p>
            </div>
          </div>
          <h3>Core Values</h3>
          <div class="row mb-5">
              <div class="col-md-6">
                <div class="core-feature">
                  <img src="../../../../../assets/images/c1.png"> INNOVATION
                </div>
              </div>
              <div class="col-md-6">
                <div class="core-feature">
                  <img src="../../../../../assets/images/c2.png"> INTEGRITY
                </div>
              </div>
              <div class="col-md-6">
                <div class="core-feature">
                  <img src="../../../../../assets/images/c3.png"> COLLABORATION
                </div>
              </div>
              <div class="col-md-6">
                <div class="core-feature">
                  <img src="../../../../../assets/images/c4.png"> AGILITY
                </div>
              </div>
          </div>
          <div class="title_head">
            <div class="row">
              <div class="col-md-6">
                <h2>How It Works</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="how-work">
                <img src="../../../../../assets/images/w1.png">
                <h5>REGISTER</h5>
                <p> Register on our website and add products to your virtual shop</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="how-work">
                <img src="../../../../../assets/images/w2.png">
                <h5>SELECTION</h5>
                <p> Influencer selects different products from your shop and add them to theie Virtual Store</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="how-work">
                <img src="../../../../../assets/images/w3.png">
                <h5>ORDERING</h5>
                <p> Influencer’s followers visit their store and purchases your products.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="how-work">
                <img src="../../../../../assets/images/w4.png">
                <h5>DELIVERY</h5>
                <p> Our rider picks customer orders from your warehouse and delivers them to their homes/offices.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="how-work">
                <img src="../../../../../assets/images/w5.png">
                <h5>PAYMENT</h5>
                <p> We deposit your earnings to your Bank Account each month less our commissions</p>
              </div>
            </div>
          </div>
          <div class="title_head">
            <div class="row">
              <div class="col-md-12">
                <h2>Leadership Team</h2>
              </div>
            </div>
            <p>Bumi is a unique social commerce platform that sells fashion, beauty and lifestyle products through our website. Our USP is the virtual stores of social media celebrities and influencers where they add their favourite products, allowing their fans and other customers to easily browse through curated selections of products and buy whatever they like.</p>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="team_wrap">
                <img src="../../../../../assets/images/team1.png">
                <h5>JOANNE MWANGI- YELBERT</h5>
                <p> Head of Strategy</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="team_wrap">
                <img src="../../../../../assets/images/team2.png">
                <h5>UMESH BHOJWANI</h5>
                <p> Head of Sourcing & Logistics</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team_wrap">
                <img src="../../../../../assets/images/team3.png">
                <h5>CATHERINE WANGUI</h5>
                <p> Head of Influencer Management</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team_wrap">
                <img src="../../../../../assets/images/team4.png">
                <h5>KENNETH OILE </h5>
                <p>Chief Executive Officer</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team_wrap">
                <img src="../../../../../assets/images/team5.png">
                <h5>WANJUGU MUHINDI</h5>
                <p> Head of Operations</p>
              </div>
            </div>
          </div>
          <div class="title_head">
            <div class="row">
              <div class="col-md-12">
                <h2>Why Should You Partner with Us?</h2>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                <div class="why-partner">
                  <h3>INFLUENCER NETWORK</h3>
                  <p> Get to market your products through our wide influencer network to millions of potential customers.</p>
                </div>
              </div>
               <div class="col-md-6">
                <div class="why-partner">
                  <h3>FULFILLMENT</h3>
                  <p> You can rest easy knowing that we will handle the delivery, payments collection and customer support of the products our customers order.</p>
                </div>
              </div>
               <div class="col-md-6">
                <div class="why-partner">
                  <h3>NO UPFRONT COSTS</h3>
                  <p> You will not have to incur any upfront costs to work with our influencer partners or set up a virtual store on our platform. It’s absolutely Free!</p>
                </div>
              </div>
               <div class="col-md-6">
                <div class="why-partner">
                  <h3>EXTRA REVENUE STREAM </h3>
                  <p>We provide an extra way for you to sell your products online and reach more customers easily!</p>
                </div>
              </div>
          </div>




        </div>
        <div class="col-md-3">
          <div class="sidenavbar">
              <h4>Introduction</h4>
              <ul>
                  <li><a href="#">How It Works</a></li> 
                  <li><a href="#">Our Leadership </a></li>
                  <li><a href="#">Why Partner with Us? </a></li>
                  <li><a href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/customer/about/becomevendor']">Become A Vendor </a></li>
                  <li><a href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/customer/about/becomBumistar']">Become A BumiStar </a></li>
                  <li><a routerLinkActive="active" [routerLink]="['/customer/about/bumiCareers']">Bumi Careers</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

<app-footer></app-footer>
