<!-- <app-header-top></app-header-top> -->
<!-- <app-header></app-header> -->
<div id="cover-spin"></div>
<section id="breadcum" class="mb-2">
  <div class="container">
    HOME <i class="fa fa-angle-right"></i>My Account
    <i class="fa fa-angle-right"></i>My Orders
  </div>
</section>
<div class="container">
  <div class="my-aacount-bg">
    <h4>My Account</h4>
  </div>
  <div class="row">
    <div class="col-md-3 ">
      <ul
        class="nav my-order-sidebar nav-pills flex-column  pb-3"
        id="menu"
      >
        <h5 class="pt-4 order-head">My Orders</h5>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg1.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text"
              >All (150)</span
            >
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg2.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text"
              >Pending (150)</span
            >
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg3.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text"
              >Processing (150)</span
            >
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg4.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text"
              >Delivered (150)</span
            >
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg5.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text"
              >Delivered (150)</span
            >
          </a>
        </li>
        <h5 class="pt-3">Personal Information</h5>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg6.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text"
              >Personal Details</span
            >
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg7.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text"
              >Delivery Details</span
            >
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg8.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text"
              >My Wishlist</span
            >
          </a>
        </li>
        <h5 class="pt-3">My Assets</h5>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg9.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text"
              >My Coupons</span
            >
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg10.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text"
              >My Wallet</span
            >
          </a>
        </li>
        <h5 class="pt-3">Get in Touch</h5>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg11.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text"
              >Contact Us</span
            >
          </a>
        </li>
    
      </ul>
    </div>
    <div class="col-md-9">
      <h4 class="pt-3">My Orders</h4>
      <table class="table table-responsive">
        <thead>
          <tr class="product-head">
            <th scope="col">Order Number</th>
            <th scope="col">Product Photo</th>
            <th scope="col">Product Name</th>
            <th scope="col">Date Delivered</th>
            <th scope="col">Price (Ksh.)</th>
            <th scope="col">Quantity</th>
            <th scope="col">Status</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="product-number" scope="row">#000000000001</th>
            <td><img src="assets/images/lifestyle/bed.png" class="img-thumbnail" alt=""></td>
            <td class="product-description">Lorem ipsum dolor sit amet,</td>
            <td class="product-description"></td>
            <td class="product-description">1,000.00</td>
            <td class="product-description">1</td>
            <td class="product-description">Pending</td>
          </tr>
          <tr>
            <th class="product-number" scope="row">#000000000001</th>
            <td><img src="assets/images/lifestyle/bed.png" class="img-thumbnail" alt=""></td>
            <td class="product-description">Lorem ipsum dolor sit amet,</td>
            <td class="product-description"></td>
            <td class="product-description">1,000.00</td>
            <td class="product-description">1</td>
            <td class="product-description">Pending</td>
          </tr>
          <tr>
            <th class="product-number" scope="row">#000000000001</th>
            <td><img src="assets/images/lifestyle/bed.png" class="img-thumbnail" alt=""></td>
            <td class="product-description">Lorem ipsum dolor sit amet,</td>
            <td class="product-description">04 April 2022, 2.45PM</td>
            <td class="product-description">1,000.00</td>
            <td class="product-description">1</td>
            <td class="product-description">Pending</td>
          </tr>
          <tr>
            <th class="product-number" scope="row">#000000000001</th>
            <td><img src="assets/images/lifestyle/bed.png" class="img-thumbnail" alt=""></td>
            <td class="product-description">Lorem ipsum dolor sit amet,</td>
            <td class="product-description">04 April 2022, 2.45PM</td>
            <td class="product-description">1,000.00</td>
            <td class="product-description">1</td>
            <td class="product-description">Pending</td>
          </tr>
          <tr>
            <th class="product-number" scope="row">#000000000001</th>
            <td><img src="assets/images/lifestyle/bed.png" class="img-thumbnail" alt=""></td>
            <td class="product-description">Lorem ipsum dolor sit amet,</td>
            <td class="product-description">04 April 2022, 2.45PM</td>
            <td class="product-description">1,000.00</td>
            <td class="product-description">1</td>
            <td class="product-description">Pending</td>
          </tr>
          <tr>
            <th class="product-number" scope="row">#000000000001</th>
            <td><img src="assets/images/lifestyle/bed.png" class="img-thumbnail" alt=""></td>
            <td class="product-description">Lorem ipsum dolor sit amet,</td>
            <td class="product-description">04 April 2022, 2.45PM</td>
            <td class="product-description">1,000.00</td>
            <td class="product-description">1</td>
            <td class="product-description">Pending</td>
          </tr>
          <tr>
            <th class="product-number" scope="row">#000000000001</th>
            <td><img src="assets/images/lifestyle/bed.png" class="img-thumbnail" alt=""></td>
            <td class="product-description">Lorem ipsum dolor sit amet,</td>
            <td class="product-description">04 April 2022, 2.45PM</td>
            <td class="product-description">1,000.00</td>
            <td class="product-description">1</td>
            <td class="product-description">Pending</td>
          </tr>
          <tr>
            <th class="product-number" scope="row">#000000000001</th>
            <td><img src="assets/images/lifestyle/bed.png" class="img-thumbnail" alt=""></td>
            <td class="product-description">Lorem ipsum dolor sit amet,</td>
            <td class="product-description">04 April 2022, 2.45PM</td>
            <td class="product-description">1,000.00</td>
            <td class="product-description">1</td>
            <td class="product-description">Pending</td>
          </tr>
          <tr>
            <th class="product-number" scope="row">#000000000001</th>
            <td><img src="assets/images/lifestyle/bed.png" class="img-thumbnail" alt=""></td>
            <td class="product-description">Lorem ipsum dolor sit amet,</td>
            <td class="product-description">04 April 2022, 2.45PM</td>
            <td class="product-description">1,000.00</td>
            <td class="product-description">1</td>
            <td class="product-description">Pending</td>
          </tr>
          <tr>
            <th class="product-number" scope="row">#000000000001</th>
            <td><img src="assets/images/lifestyle/bed.png" class="img-thumbnail" alt=""></td>
            <td class="product-description">Lorem ipsum dolor sit amet,</td>
            <td class="product-description">04 April 2022, 2.45PM</td>
            <td class="product-description">1,000.00</td>
            <td class="product-description">1</td>
            <td class="product-description">Pending</td>
          </tr>
          <tr>
            <th class="product-number" scope="row">#000000000001</th>
            <td><img src="assets/images/lifestyle/bed.png" class="img-thumbnail" alt=""></td>
            <td class="product-description">Lorem ipsum dolor sit amet,</td>
            <td class="product-description">04 April 2022, 2.45PM</td>
            <td class="product-description">1,000.00</td>
            <td class="product-description">1</td>
            <td class="product-description">Pending</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- <app-footer></app-footer> -->
