<app-header-top></app-header-top>
<app-header></app-header>
<section id="breadcum">
  <div class="container">
    HOME <i class="fa fa-angle-right"></i> QUEENS <i class="fa fa-angle-right"></i> BEAUTY <i class="fa fa-angle-right" *ngIf="cat1"></i> {{cat1}} <i class="fa fa-angle-right" *ngIf="cat2"></i> {{cat2}}
    <i class="fa fa-angle-right" *ngIf="cat3"></i> {{cat3}}
  </div>
</section>
<section id="product-listing-outer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="filter-sidebar">
          <h2>Filter By</h2>
          <div class="filter-wrap">
            <h3>Category</h3>
            <!-- <i class="fa fa-search"></i>    -->
              <input type="text" (input)="searchCategory($any($event.target).value)" class="form-control" placeholder="Search Category">
            <ul>
              <li *ngFor="let cat of getCategory" [ngClass]="{'highlight': selectedIndex === cat.id}"><a (click)="cat.count > 0 && selectCategory(cat.id)">{{cat.name}} <span class="pro-count">({{cat.count}})</span></a></li>
            </ul>
          </div>
          <div class="filter-wrap">
            <h3>Brand</h3>
              <!-- <i class="fa fa-search"></i> -->
            <input type="text" (input)="searchBrand($any($event.target).value)" class="form-control" placeholder="Search Brand">
            <ul>
              <li *ngFor="let brand of getBrands" [ngClass]="{'highlight': selectedIndex === brand.brand}"><a (click)="brand.count > 0 && selectBrand(brand.brand)" >{{brand.brand}} <span class="pro-count">({{brand.count}})</span></a></li>
             
            </ul>
          </div>
           <div class="filter-wrap">
            <h3>Price</h3>
            <ul>
              <li  *ngFor="let list of getPrice" [ngClass]="{'highlight': selectedIndex === list.range}"><a (click)="list.count > 0 && selectRange(list.range)">{{list.range}} <span class="pro-count">({{list.count}})</span></a></li>
            </ul>
          </div>
          <div class="filter-wrap">
            <h3>Discount  </h3>
            <ul>
                <li><a href="#">50% & Above <span class="pro-count">(33)</span></a></li>
                <li><a href="#">40% & Above <span class="pro-count">(33)</span></a></li>
                <li><a href="#">30% & Above <span class="pro-count">(33)</span></a></li>
                <li><a href="#">20% & Above <span class="pro-count">(33)</span></a></li>
                <li><a href="#">10% & Above <span class="pro-count">(33)</span></a></li>
                <li><a href="#">5% & Above Upto 5%<span class="pro-count">(33)</span></a></li>
            </ul>
          </div>
          <div class="filter-wrap">
            <h3>Colour Palette  </h3>
            <ul>
                <li><a href="#">Pink <span class="pro-count">(33)</span></a></li>
                <li><a href="#"> Turquise <span class="pro-count">(33)</span></a></li>
                <li><a href="#">  Burgandy <span class="pro-count">(33)</span></a></li>
                <li><a href="#">  Biege<span class="pro-count">(33)</span></a></li> 
                <li><a href="#">  Gold <span class="pro-count">(33)</span></a></li>
                <li><a href="#">  Peach <span class="pro-count">(33)</span></a></li>
                <li><a href="#">  Brown<span class="pro-count">(33)</span></a></li>
            </ul>
          </div>
        </div>
      </div>
   

      <div class="col-md-9">
        <div class="filter-title">
          <div class="row">
            <div class="col-md-6"><h4>POPULAR VIDEOS </h4></div>
            <div class="col-md-6 text-right"><span class="left-arrow"><i class="fa fa-angle-left" aria-hidden="true"></i></span><span class="right-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></div>
            </div>
          </div>
       
        <div class="popular_video">
          <div class="row">
            <div class="col-md-4">
              <div class="popular_video_box">
                <div class="video_box"><img src="../../../../assets/images/video.png"><img src="../../../../assets/images/yplay.png" class="yplay-icon"></div>
                <div class="video-content">
                  <div class="video-auth"><img src="../../../../assets/images/1.png"></div>
                  <h5>Lorem Ipsum Text Chantelle Petit</h5>
                  <p> BUMI TV </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="popular_video_box">
                <div class="video_box"><img src="../../../../assets/images/video.png"><img src="../../../../assets/images/yplay.png" class="yplay-icon"></div>
                <div class="video-content">
                  <div class="video-auth"><img src="../../../../assets/images/1.png"></div>
                  <h5>Lorem Ipsum Text Chantelle Petit</h5>
                  <p> BUMI TV </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="popular_video_box">
                <div class="video_box"><img src="../../../../assets/images/video.png"><img src="../../../../assets/images/yplay.png" class="yplay-icon"></div>
                <div class="video-content">
                  <div class="video-auth"><img src="../../../../assets/images/1.png"></div>
                  <h5>Lorem Ipsum Text Chantelle Petit</h5>
                  <p> BUMI TV </p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="product-listing-wrap">
          <div class="row mb-4">
              <div class="col-md-6"><h4>Face </h4></div>
              <div class="col-md-6 text-right"><select class="custom-select"><option>Sort By</option><option>Sort By</option><option>Sort By</option></select></div>
          </div>

          <div class="row" >
            <div class="col-md-3" *ngFor="let products of getProducts">
                <div class="product_list_inner" >
                  <div class="pro_img"><img src="{{url}}/{{products?.image}}"
                    onerror="this.src='../../../../assets/images/f1.png';"></div>
                  
                  <h5>{{products.name}}</h5>
                  <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 4.8 (3936)</div>
                  <h2>{{products.sale_price}} <span>Sold By: Yummy Mummy</span></h2>
                  <a href="#" class="btn">ADD TO CART </a>
                </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="product_list_inner">
                  <div class="pro_img"><img src="../../../../assets/images/f1.png"></div>
                  <h5>Revlon ULTRA HD MATTE LIP MOUSSE- Red Hot</h5>
                  <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 4.8 (3936)</div>
                  <h2>KSh1,550.00 <span>Sold By: Yummy Mummy</span></h2>
                  <a href="/customer/addcart" class="btn">ADD TO CART </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_list_inner">
                  <div class="pro_img"><img src="../../../../assets/images/f1.png"></div>
                  <h5>Revlon ULTRA HD MATTE LIP MOUSSE- Red Hot</h5>
                  <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 4.8 (3936)</div>
                  <h2>KSh1,550.00 <span>Sold By: Yummy Mummy</span></h2>
                  <a href="#" class="btn">ADD TO CART </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_list_inner">
                  <div class="pro_img"><img src="../../../../assets/images/f1.png"></div>
                  <h5>Revlon ULTRA HD MATTE LIP MOUSSE- Red Hot</h5>
                  <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 4.8 (3936)</div>
                  <h2>KSh1,550.00 <span>Sold By: Yummy Mummy</span></h2>
                  <a href="#" class="btn">ADD TO CART </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_list_inner">
                  <div class="pro_img"><img src="../../../../assets/images/f1.png"></div>
                  <h5>Revlon ULTRA HD MATTE LIP MOUSSE- Red Hot</h5>
                  <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 4.8 (3936)</div>
                  <h2>KSh1,550.00 <span>Sold By: Yummy Mummy</span></h2>
                  <a href="#" class="btn">ADD TO CART </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_list_inner">
                  <div class="pro_img"><img src="../../../../assets/images/f1.png"></div>
                  <h5>Revlon ULTRA HD MATTE LIP MOUSSE- Red Hot</h5>
                  <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 4.8 (3936)</div>
                  <h2>KSh1,550.00 <span>Sold By: Yummy Mummy</span></h2>
                  <a href="#" class="btn">ADD TO CART </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_list_inner">
                  <div class="pro_img"><img src="../../../../assets/images/f1.png"></div>
                  <h5>Revlon ULTRA HD MATTE LIP MOUSSE- Red Hot</h5>
                  <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 4.8 (3936)</div>
                  <h2>KSh1,550.00 <span>Sold By: Yummy Mummy</span></h2>
                  <a href="#" class="btn">ADD TO CART </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_list_inner">
                  <div class="pro_img"><img src="../../../../assets/images/f1.png"></div>
                  <h5>Revlon ULTRA HD MATTE LIP MOUSSE- Red Hot</h5>
                  <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 4.8 (3936)</div>
                  <h2>KSh1,550.00 <span>Sold By: Yummy Mummy</span></h2>
                  <a href="#" class="btn">ADD TO CART </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_list_inner">
                  <div class="pro_img"><img src="../../../../assets/images/f1.png"></div>
                  <h5>Revlon ULTRA HD MATTE LIP MOUSSE- Red Hot</h5>
                  <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 4.8 (3936)</div>
                  <h2>KSh1,550.00 <span>Sold By: Yummy Mummy</span></h2>
                  <a href="#" class="btn">ADD TO CART </a>
                </div>
            </div> -->
          </div>

        </div>

      </div>
    </div>
  </div>
</section>


<!-- <section id="features">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="features_box"><img src="../../../../assets/images/ft1.png"> <h3>Fast Shipping <span>For All Orders</span></h3> </div>
      </div>
      <div class="col-md-3">
        <div class="features_box"><img src="../../../../assets/images/ft2.png"> <h3>90 Day Return <span>For Faulty Goods</span></h3> </div>
      </div>
      <div class="col-md-3">
        <div class="features_box"><img src="../../../../assets/images/ft3.png"> <h3>Secure Payment  <span>100% Secure Payment</span></h3> </div>
      </div>
      <div class="col-md-3">
        <div class="features_box"><img src="../../../../assets/images/ft4.png"> <h3>24/7 Support<span>Dedicated Resource</span></h3> </div>
      </div>
    </div>
  </div>
</section> -->
<!-- <section id="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-md-3"><a href="#"><img src="../../../../assets/images/footer-logo.png"></a></div>
      <div class="col-md-3">
        <h4>NEW TO BUMI?</h4>
        <p>Subscribe to our newsletter to get updates on our latest offers!</p>
      </div>
      <div class="col-md-6">
        <form>
          <input type="search" class="form-control" placeholder="ENTER EMAIL ADDRESS">
          <button  class="btn btn-primary">SUBMIT</button>
          </form>
      </div>
    </div>
  </div>
  </section> -->
  <app-footer></app-footer>