<app-header-top></app-header-top>
<section id="page-header">
    <div class="container">
      <h1>Teamwork makes <br>the dream work</h1>
    </div>
  </section>
  <section id="main-container">
    <div class="container">
      <div class="title_head">
        <div class="row">
          <div class="col-md-6">
            <h2>Come Grow With Us</h2>
          </div>
          <div class="col-md-6 text-right">
              <div class="save-offline">Save Page Offline 
                <label class="switch">
                  <input type="checkbox">
                  <span class="slider round"></span>
                </label>
              </div>
              <div class="social-sare ">
                SHARE PAGE <a href="#"><img src="../../../../../assets/images/s1.png"></a> <a href="#"><img src="../../../../../assets/images/s2.png"></a> <a href="#"><img src="../../../../../assets/images/s3.png"></a>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <p>BUMI offers a wide range of careers, whether you’re looking to join our technology, commercial or corporate teams, browse our current vacancies and find out what it’s like to work for an innovative and multifaceted organization.</p>
          <h3>Find out about opportunities in…</h3>
          <div class="row text-center">
            <div class="col-md-4">
              <img src="../../../../../assets/images/ca1.png" width="150" class="mb-3">
              <h4>STUDENTS/ <br>INTERNSHIPS</h4>
             <a href="#">Explore</a>
            </div>
            <div class="col-md-4">
              <img src="../../../../../assets/images/ca2.png" width="150" class="mb-3">
              <h4>ENTRY LEVEL/RECENT <br>GRADUATES</h4>
             <a href="#">Explore</a>
            </div>
            <div class="col-md-4">
              <img src="../../../../../assets/images/ca3.png" width="150" class="mb-3">
              <h4>EXPERIENCED <br>PROFESSIONALS</h4>
             <a href="#">Explore</a>
            </div>
          </div>


          <h4>We want to make your life better and easier.</h4>
          <p>Here's the secret sauce to our benefits: It's all about removing barriers so Employees can focus on the things they love, both inside and outside of work. We search for unique ways to improve the health and happiness of our staff with the hope that, ultimately, you become a better person by working here. We believe we're at our best when you're at yours.</p>

          <h4>We want to make your life better and easier.</h4>
          <p>Here's the secret sauce to our benefits: It's all about removing barriers so Employees can focus on the things they love, both inside and outside of work. We search for unique ways to improve the health and happiness of our staff with the hope that, ultimately, you become a better person by working here. We believe we're at our best when you're at yours.</p>

          <h4>We want to make your life better and easier.</h4>
          <p>Here's the secret sauce to our benefits: It's all about removing barriers so Employees can focus on the things they love, both inside and outside of work. We search for unique ways to improve the health and happiness of our staff with the hope that, ultimately, you become a better person by working here. We believe we're at our best when you're at yours.</p>

          <h4>We want to make your life better and easier.</h4>
          <p>Here's the secret sauce to our benefits: It's all about removing barriers so Employees can focus on the things they love, both inside and outside of work. We search for unique ways to improve the health and happiness of our staff with the hope that, ultimately, you become a better person by working here. We believe we're at our best when you're at yours.</p>


        </div>
        <div class="col-md-3">
          <div class="sidenavbar">
              <h4>Related</h4>
              <ul>
                  <li><a href="#">Our Leadership</a></li> 
                  <li><a href="#">Why Partner with Us? </a></li>
                  <li><a href="#">Become A Vendor</a></li>
                  <li><a href="#">Become A BumiStar </a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>