<app-header-top></app-header-top>
<app-header></app-header>
<section id="breadcum">
    <div class="container">
      HOME <i class="fa fa-angle-right"></i> QUEENS <i class="fa fa-angle-right"></i> BEAUTY <i class="fa fa-angle-right"></i> REVLON <i class="fa fa-angle-right"></i> ULTIMATE ALL IN ONE MASCARA - BLACK
    </div>
  </section>
  <section id="popular_video">
    <div class="container">
      <div class="video_box_outer">
          <div class="video-title"><div class="video-logo"><img src="../../../../../assets/images/logo.png"></div> Lorem ipsum dolor sit amet | consectetuer</div>
      </div>
      </div>
    </section>
  <section id="product-detail-outer">
    <div class="container">
      <div class="row">  
        <div class="col-md-12">
            <div class="product-listing-wrap">
            <div class="row">
              <div class="col">
                  <div class="product_list_inner">
                    <div class="pro_img"><img src="../../../../../assets/images/f1.png"></div>
                    <h5>Revlon ULTRA HD MATTE LIP MOUSSE- Red Hot</h5>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 4.8 (3936)</div>
                    <h2>KSh1,550.00 <span>Sold By: Yummy Mummy</span></h2>
                    <a href="#" class="btn">ADD TO CART </a>
                  </div>
              </div>
              <div class="col">
                  <div class="product_list_inner">
                    <div class="pro_img"><img src="../../../../../assets/images/f1.png"></div>
                    <h5>Revlon ULTRA HD MATTE LIP MOUSSE- Red Hot</h5>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 4.8 (3936)</div>
                    <h2>KSh1,550.00 <span>Sold By: Yummy Mummy</span></h2>
                    <a href="#" class="btn">ADD TO CART </a>
                  </div>
              </div>
              <div class="col">
                  <div class="product_list_inner">
                    <div class="pro_img"><img src="../../../../../assets/images/f1.png"></div>
                    <h5>Revlon ULTRA HD MATTE LIP MOUSSE- Red Hot</h5>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 4.8 (3936)</div>
                    <h2>KSh1,550.00 <span>Sold By: Yummy Mummy</span></h2>
                    <a href="#" class="btn">ADD TO CART </a>
                  </div>
              </div>
              <div class="col">
                  <div class="product_list_inner">
                    <div class="pro_img"><img src="../../../../../assets/images/f1.png"></div>
                    <h5>Revlon ULTRA HD MATTE LIP MOUSSE- Red Hot</h5>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 4.8 (3936)</div>
                    <h2>KSh1,550.00 <span>Sold By: Yummy Mummy</span></h2>
                    <a href="#" class="btn">ADD TO CART </a>
                  </div>
              </div>
              <div class="col">
                  <div class="product_list_inner">
                    <div class="pro_img"><img src="../../../../../assets/images/f1.png"></div>
                    <h5>Revlon ULTRA HD MATTE LIP MOUSSE- Red Hot</h5>
                    <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 4.8 (3936)</div>
                    <h2>KSh1,550.00 <span>Sold By: Yummy Mummy</span></h2>
                    <a href="#" class="btn">ADD TO CART </a>
                  </div>
              </div>          
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </section>
  
<app-footer></app-footer>
