// Fonts
$fontKarla: "Karla", sans-serif;
$fontPlayfair: "Playfair Display", serif;

// Colors
$colorPrimary: #9e005d;
$colorPink: #D4145A;
$colorSecondary: #93278f;
$colorYellow: #D9E021;
$colorYellowGreen: #8CC63F;
$colorGreen: #7AC943;
$colorDarkGreen: #009245;
$colorLightGreen: #22B573;
$colorOrange: #F7931E;
$colorRed: #ED1C24;
$colorLightRed: #DE3731;
$colorText: #666666;
$colorBorder: #e6e6e6;
$colorDarkBorder: #B3B3B3;
$colorGray: #cccccc;
$colorLightGray: #F6F6F6;
$colorLighterGray: #F2F2F2;
$colorLight: #fff;
$colorTextLight: #999999;
$colorTextDark: #4D4D4D;
$colorDark: #333;
$colorBlack: #000;