<div id="cover-spin"></div>
<section id="breadcum" class="mb-2">
  <div class="container">
    HOME <i class="fa fa-angle-right"></i>My Account
    <i class="fa fa-angle-right"></i>My Wishlist
  </div>
</section>
<div class="container">
  <div class="my-aacount-bg">
    <h4>My Account</h4>
  </div>
  <div class="row">
    <div class="col-md-3">
      <ul class="nav my-order-sidebar nav-pills flex-column pb-3" id="menu">
        <h5 class="pt-4 order-head">My Orders</h5>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg1.svg" alt="Chitchat" />
            <span class="ms-3 my-account-password">All (150)</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg2.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Pending (150)</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg3.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Processing (150)</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg4.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Delivered (150)</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg5.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Delivered (150)</span>
          </a>
        </li>
        <h5 class="pt-3">Personal Information</h5>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg6.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Personal Details</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg7.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Delivery Details</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg8.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">My Wishlist</span>
          </a>
        </li>
        <h5 class="pt-3">My Assets</h5>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg9.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">My Coupons</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg10.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">My Wallet</span>
          </a>
        </li>
        <h5 class="pt-3">Get in Touch</h5>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg11.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Contact Us</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <p class="personal-title">My Wishlist</p>
      <div class="row pt-3">
        <div class="col-md-3 col-sm-6">
          <div class="my-whishlist-product">
            <img
              class="img-thumbnail"
              src="../../../../../../assets/images/lifestyle/perfume.png"
            />
            <p>Lancome La Vie Est Belle EAU DE PARFUM</p>
            <ul class="rating">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
            <span>4.8 (3936)</span>
            <h5>KSh8,000.00</h5>
            <h6>KSH 10,000.00</h6>
            <button type="button" class="btn">
              <span class="btn-label"></span>Add to cart &nbsp;
             <span class="cart-beg"><i class="fa fa-shopping-bag" aria-hidden="true"></i></span> 
            </button>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="my-whishlist-product">
              <img
                class="img-thumbnail"
                src="../../../../../../assets/images/lifestyle/perfume.png"
              />
              <p>Lancome La Vie Est Belle EAU DE PARFUM</p>
              <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
              </ul>
              <span>4.8 (3936)</span>
              <h5>KSh8,000.00</h5>
              <h6>KSH 10,000.00</h6>
              <button type="button" class="btn">
                <span class="btn-label"></span>Add to cart &nbsp;
               <span class="cart-beg"><i class="fa fa-shopping-bag" aria-hidden="true"></i></span> 
              </button>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="my-whishlist-product">
              <img
                class="img-thumbnail"
                src="../../../../../../assets/images/lifestyle/perfume.png"
              />
              <p>Lancome La Vie Est Belle EAU DE PARFUM</p>
              <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
              </ul>
              <span>4.8 (3936)</span>
              <h5>KSh8,000.00</h5>
              <h6>KSH 10,000.00</h6>
              <button type="button" class="btn">
                <span class="btn-label"></span>Add to cart &nbsp;
               <span class="cart-beg"><i class="fa fa-shopping-bag" aria-hidden="true"></i></span> 
              </button>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="my-whishlist-product">
              <img
                class="img-thumbnail"
                src="../../../../../../assets/images/lifestyle/perfume.png"
              />
              <p>Lancome La Vie Est Belle EAU DE PARFUM</p>
              <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
              </ul>
              <span>4.8 (3936)</span>
              <h5>KSh8,000.00</h5>
              <h6>KSH 10,000.00</h6>
              <button type="button" class="btn">
                <span class="btn-label"></span>Add to cart &nbsp;
               <span class="cart-beg"><i class="fa fa-shopping-bag" aria-hidden="true"></i></span> 
              </button>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="my-whishlist-product">
              <img
                class="img-thumbnail"
                src="../../../../../../assets/images/lifestyle/perfume.png"
              />
              <p>Lancome La Vie Est Belle EAU DE PARFUM</p>
              <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
              </ul>
              <span>4.8 (3936)</span>
              <h5>KSh8,000.00</h5>
              <h6>KSH 10,000.00</h6>
              <button type="button" class="btn">
                <span class="btn-label"></span>Add to cart &nbsp;
               <span class="cart-beg"><i class="fa fa-shopping-bag" aria-hidden="true"></i></span> 
              </button>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="my-whishlist-product">
              <img
                class="img-thumbnail"
                src="../../../../../../assets/images/lifestyle/perfume.png"
              />
              <p>Lancome La Vie Est Belle EAU DE PARFUM</p>
              <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
              </ul>
              <span>4.8 (3936)</span>
              <h5>KSh8,000.00</h5>
              <h6>KSH 10,000.00</h6>
              <button type="button" class="btn">
                <span class="btn-label"></span>Add to cart &nbsp;
               <span class="cart-beg"><i class="fa fa-shopping-bag" aria-hidden="true"></i></span> 
              </button>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="my-whishlist-product">
              <img
                class="img-thumbnail"
                src="../../../../../../assets/images/lifestyle/perfume.png"
              />
              <p>Lancome La Vie Est Belle EAU DE PARFUM</p>
              <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
              </ul>
              <span>4.8 (3936)</span>
              <h5>KSh8,000.00</h5>
              <h6>KSH 10,000.00</h6>
              <button type="button" class="btn">
                <span class="btn-label"></span>Add to cart &nbsp;
               <span class="cart-beg"><i class="fa fa-shopping-bag" aria-hidden="true"></i></span> 
              </button>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="my-whishlist-product">
              <img
                class="img-thumbnail"
                src="../../../../../../assets/images/lifestyle/perfume.png"
              />
              <p>Lancome La Vie Est Belle EAU DE PARFUM</p>
              <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
              </ul>
              <span>4.8 (3936)</span>
              <h5>KSh8,000.00</h5>
              <h6>KSH 10,000.00</h6>
              <button type="button" class="btn">
                <span class="btn-label"></span>Add to cart &nbsp;
               <span class="cart-beg"><i class="fa fa-shopping-bag" aria-hidden="true"></i></span> 
              </button>
            </div>
          </div>
           <div class="col-md-3 col-sm-6">
          <div class="my-whishlist-product">
            <img
              class="img-thumbnail"
              src="../../../../../../assets/images/lifestyle/perfume.png"
            />
            <p>Lancome La Vie Est Belle EAU DE PARFUM</p>
            <ul class="rating">
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
              <li class="fa fa-star"></li>
            </ul>
            <span>4.8 (3936)</span>
            <h5>KSh8,000.00</h5>
            <h6>KSH 10,000.00</h6>
            <button type="button" class="btn">
              <span class="btn-label"></span>Add to cart &nbsp;
             <span class="cart-beg"><i class="fa fa-shopping-bag" aria-hidden="true"></i></span> 
            </button>
          </div>
        </div> <div class="col-md-3 col-sm-6">
            <div class="my-whishlist-product">
              <img
                class="img-thumbnail"
                src="../../../../../../assets/images/lifestyle/perfume.png"
              />
              <p>Lancome La Vie Est Belle EAU DE PARFUM</p>
              <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
              </ul>
              <span>4.8 (3936)</span>
              <h5>KSh8,000.00</h5>
              <h6>KSH 10,000.00</h6>
              <button type="button" class="btn">
                <span class="btn-label"></span>Add to cart &nbsp;
               <span class="cart-beg"><i class="fa fa-shopping-bag" aria-hidden="true"></i></span> 
              </button>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="my-whishlist-product">
              <img
                class="img-thumbnail"
                src="../../../../../../assets/images/lifestyle/perfume.png"
              />
              <p>Lancome La Vie Est Belle EAU DE PARFUM</p>
              <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
              </ul>
              <span>4.8 (3936)</span>
              <h5>KSh8,000.00</h5>
              <h6>KSH 10,000.00</h6>
              <button type="button" class="btn">
                <span class="btn-label"></span>Add to cart &nbsp;
               <span class="cart-beg"><i class="fa fa-shopping-bag" aria-hidden="true"></i></span> 
              </button>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="my-whishlist-product">
              <img
                class="img-thumbnail"
                src="../../../../../../assets/images/lifestyle/perfume.png"
              />
              <p>Lancome La Vie Est Belle EAU DE PARFUM</p>
              <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
              </ul>
              <span>4.8 (3936)</span>
              <h5>KSh8,000.00</h5>
              <h6>KSH 10,000.00</h6>
              <button type="button" class="btn">
                <span class="btn-label"></span>Add to cart &nbsp;
               <span class="cart-beg"><i class="fa fa-shopping-bag" aria-hidden="true"></i></span> 
              </button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
