<app-header-top></app-header-top>
<app-header></app-header>
<section>
  <div class="faq-banner">
    <h1>Beauty and Fashion Tutorials</h1>
  </div>
  <div class="container my-5">
    <div
      id="multi-item-example"
      class="carousel slide carousel-multi-item"
      data-ride="carousel"
    >
      <div class="row beauty-tips">
        <div class="col-md-6">
          <div class="beauty-tips-head">
            <h6>BEAUTY TIPS & TRICKS</h6>
          </div>
        </div>
        <div class="col-md-6">
          <div class="controls-top">
            <a class="btn-floating" href="#multi-item-example" data-slide="prev"
              ><i class="fa fa-chevron-left"></i
            ></a>
            <a
              class="btn-floating pl-3"
              href="#multi-item-example"
              data-slide="next"
              ><i class="fa fa-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li
          data-target="#multi-item-example"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-4">
              <div class="help_wrap">
                <div class="help_img">
                  <img src="../../../../assets/images/h1.png" /><a
                    href="#"
                    class="play"
                    ><img src="../../../../assets/images/play.png"
                  /></a>
                  <a href="#" class="watch"
                    ><img src="../../../../assets/images/watch.png"
                  /></a>
                  <a href="#" class="btn btn-primary"
                    >Watch & Shop
                    <i class="fa fa-mobile"></i>
                  </a>
                </div>
              </div>
              <div class="help_title">
                <h3>Makeup Tutorial</h3>
                <p>Chantelle Petit</p>
                <p>95K View • 12 Hours Ago</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="help_wrap">
                <div class="help_img">
                  <img src="../../../../assets/images/h2.png" /><a
                    href="#"
                    class="play"
                    ><img src="../../../../assets/images/play.png"
                  /></a>
                  <a href="#" class="watch"
                    ><img src="../../../../assets/images/watch.png"
                  /></a>
                  <a href="#" class="btn btn-primary"
                    >Watch & Shop
                    <i class="fa fa-mobile"></i>
                  </a>
                </div>
              </div>
              <div class="help_title">
                <h3>Makeup Tutorial</h3>
                <p>Chantelle Petit</p>
                <p>95K View • 12 Hours Ago</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="help_wrap">
                <div class="help_img">
                  <img src="../../../../assets/images/h3.png" /><a
                    href="#"
                    class="play"
                    ><img src="../../../../assets/images/play.png"
                    /></a>
                  <a href="#" class="watch"
                    ><img src="../../../../assets/images/watch.png"
                  /></a>
                  <a href="#" class="btn btn-primary"
                    >Watch & Shop
                    <i class="fa fa-mobile"></i>
                  </a>
                </div>
              </div>
              <div class="help_title">
                <h3>Eye & Lips Care Tutorial</h3>
                <p>Chantelle Petit</p>
                <p>95K View • 12 Hours Ago</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-4">
              <div class="help_wrap">
                <div class="help_img">
                  <img src="../../../../assets/images/h1.png" /><a
                    href="#"
                    class="play"
                    ><img src="../../../../assets/images/play.png"
                  /></a>
                  <a href="#" class="watch"
                    ><img src="../../../../assets/images/watch.png"
                  /></a>
                  <a href="#" class="btn btn-primary"
                    >Watch & Shop
                    <i class="fa fa-mobile"></i>
                  </a>
                </div>
              </div>
              <div class="help_title">
                <h3>Makeup Tutorial</h3>
                <p>Chantelle Petit</p>
                <p>95K View • 12 Hours Ago</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="help_wrap">
                <div class="help_img">
                  <img src="../../../../assets/images/h2.png" /><a
                    href="#"
                    class="play"
                    ><img src="../../../../assets/images/play.png"
                  /></a>
                  <a href="#" class="watch"
                    ><img src="../../../../assets/images/watch.png"
                  /></a>
                  <a href="#" class="btn btn-primary"
                    >Watch & Shop
                    <i class="fa fa-mobile"></i>
                  </a>
                </div>
              </div>
              <div class="help_title">
                <h3>Makeup Tutorial</h3>
                <p>Chantelle Petit</p>
                <p>95K View • 12 Hours Ago</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="help_wrap">
                <div class="help_img">
                  <img src="../../../../assets/images/h3.png" /><a
                    href="#"
                    class="play"
                    ><img src="../../../../assets/images/play.png"
                  /></a>
                  <a href="#" class="watch"
                    ><img src="../../../../assets/images/watch.png"
                  /></a>
                  <a href="#" class="btn btn-primary"
                    >Watch & Shop
                    <i class="fa fa-mobile"></i>
                  </a>
                </div>
              </div>
              <div class="help_title">
                <h3>Eye & Lips Care Tutorial</h3>
                <p>Chantelle Petit</p>
                <p>95K View • 12 Hours Ago</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div
      id="multi-item-example"
      class="carousel slide carousel-multi-item"
      data-ride="carousel"
    >
      <div class="row beauty-tips">
        <div class="col-md-6">
          <div class="beauty-tips-head">
            <h6>BEAUTY TIPS & TRICKS</h6>
          </div>
        </div>
        <div class="col-md-6">
          <div class="controls-top">
            <a class="btn-floating" href="#multi-item-example" data-slide="prev"
              ><i class="fa fa-chevron-left"></i
            ></a>
            <a
              class="btn-floating pl-3"
              href="#multi-item-example"
              data-slide="next"
              ><i class="fa fa-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li
          data-target="#multi-item-example"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-4">
              <div class="help_wrap">
                <div class="help_img">
                  <img src="../../../../assets/images/h1.png" /><a
                    href="#"
                    class="play"
                    ><img src="../../../../assets/images/play.png"
                  /></a>
                  <a href="#" class="watch"
                    ><img src="../../../../assets/images/watch.png"
                  /></a>
                  <a href="#" class="btn btn-primary"
                    >Watch & Shop
                    <i class="fa fa-mobile"></i>
                  </a>
                </div>
              </div>
              <div class="help_title">
                <h3>Makeup Tutorial</h3>
                <p>Chantelle Petit</p>
                <p>95K View • 12 Hours Ago</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="help_wrap">
                <div class="help_img">
                  <img src="../../../../assets/images/h2.png" /><a
                    href="#"
                    class="play"
                    ><img src="../../../../assets/images/play.png"
                  /></a>
                  <a href="#" class="watch"
                    ><img src="../../../../assets/images/watch.png"
                  /></a>
                  <a href="#" class="btn btn-primary"
                    >Watch & Shop
                    <i class="fa fa-mobile"></i>
                  </a>
                </div>
              </div>
              <div class="help_title">
                <h3>Makeup Tutorial</h3>
                <p>Chantelle Petit</p>
                <p>95K View • 12 Hours Ago</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="help_wrap">
                <div class="help_img">
                  <img src="../../../../assets/images/h3.png" /><a
                    href="#"
                    class="play"
                    ><img src="../../../../assets/images/play.png"
                    /></a>
                  <a href="#" class="watch"
                    ><img src="../../../../assets/images/watch.png"
                  /></a>
                  <a href="#" class="btn btn-primary"
                    >Watch & Shop
                    <i class="fa fa-mobile"></i>
                  </a>
                </div>
              </div>
              <div class="help_title">
                <h3>Eye & Lips Care Tutorial</h3>
                <p>Chantelle Petit</p>
                <p>95K View • 12 Hours Ago</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-4">
              <div class="help_wrap">
                <div class="help_img">
                  <img src="../../../../assets/images/h1.png" /><a
                    href="#"
                    class="play"
                    ><img src="../../../../assets/images/play.png"
                  /></a>
                  <a href="#" class="watch"
                    ><img src="../../../../assets/images/watch.png"
                  /></a>
                  <a href="#" class="btn btn-primary"
                    >Watch & Shop
                    <i class="fa fa-mobile"></i>
                  </a>
                </div>
              </div>
              <div class="help_title">
                <h3>Makeup Tutorial</h3>
                <p>Chantelle Petit</p>
                <p>95K View • 12 Hours Ago</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="help_wrap">
                <div class="help_img">
                  <img src="../../../../assets/images/h2.png" /><a
                    href="#"
                    class="play"
                    ><img src="../../../../assets/images/play.png"
                  /></a>
                  <a href="#" class="watch"
                    ><img src="../../../../assets/images/watch.png"
                  /></a>
                  <a href="#" class="btn btn-primary"
                    >Watch & Shop
                    <i class="fa fa-mobile"></i>
                  </a>
                </div>
              </div>
              <div class="help_title">
                <h3>Makeup Tutorial</h3>
                <p>Chantelle Petit</p>
                <p>95K View • 12 Hours Ago</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="help_wrap">
                <div class="help_img">
                  <img src="../../../../assets/images/h3.png" /><a
                    href="#"
                    class="play"
                    ><img src="../../../../assets/images/play.png"
                  /></a>
                  <a href="#" class="watch"
                    ><img src="../../../../assets/images/watch.png"
                  /></a>
                  <a href="#" class="btn btn-primary"
                    >Watch & Shop
                    <i class="fa fa-mobile"></i>
                  </a>
                </div>
              </div>
              <div class="help_title">
                <h3>Eye & Lips Care Tutorial</h3>
                <p>Chantelle Petit</p>
                <p>95K View • 12 Hours Ago</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div
      id="multi-item-example"
      class="carousel slide carousel-multi-item"
      data-ride="carousel"
    >
      <div class="row beauty-tips">
        <div class="col-md-6">
          <div class="beauty-tips-head">
            <h6>BEAUTY TIPS & TRICKS</h6>
          </div>
        </div>
        <div class="col-md-6">
          <div class="controls-top">
            <a class="btn-floating" href="#multi-item-example" data-slide="prev"
              ><i class="fa fa-chevron-left"></i
            ></a>
            <a
              class="btn-floating pl-3"
              href="#multi-item-example"
              data-slide="next"
              ><i class="fa fa-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li
          data-target="#multi-item-example"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-4">
              <div class="help_wrap">
                <div class="help_img">
                  <img src="../../../../assets/images/h1.png" /><a
                    href="#"
                    class="play"
                    ><img src="../../../../assets/images/play.png"
                  /></a>
                  <a href="#" class="watch"
                    ><img src="../../../../assets/images/watch.png"
                  /></a>
                  <a href="#" class="btn btn-primary"
                    >Watch & Shop
                    <i class="fa fa-mobile"></i>
                  </a>
                </div>
              </div>
              <div class="help_title">
                <h3>Makeup Tutorial</h3>
                <p>Chantelle Petit</p>
                <p>95K View • 12 Hours Ago</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="help_wrap">
                <div class="help_img">
                  <img src="../../../../assets/images/h2.png" /><a
                    href="#"
                    class="play"
                    ><img src="../../../../assets/images/play.png"
                  /></a>
                  <a href="#" class="watch"
                    ><img src="../../../../assets/images/watch.png"
                  /></a>
                  <a href="#" class="btn btn-primary"
                    >Watch & Shop
                    <i class="fa fa-mobile"></i>
                  </a>
                </div>
              </div>
              <div class="help_title">
                <h3>Makeup Tutorial</h3>
                <p>Chantelle Petit</p>
                <p>95K View • 12 Hours Ago</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="help_wrap">
                <div class="help_img">
                  <img src="../../../../assets/images/h3.png" /><a
                    href="#"
                    class="play"
                    ><img src="../../../../assets/images/play.png"
                    /></a>
                  <a href="#" class="watch"
                    ><img src="../../../../assets/images/watch.png"
                  /></a>
                  <a href="#" class="btn btn-primary"
                    >Watch & Shop
                    <i class="fa fa-mobile"></i>
                  </a>
                </div>
              </div>
              <div class="help_title">
                <h3>Eye & Lips Care Tutorial</h3>
                <p>Chantelle Petit</p>
                <p>95K View • 12 Hours Ago</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-4">
              <div class="help_wrap">
                <div class="help_img">
                  <img src="../../../../assets/images/h1.png" /><a
                    href="#"
                    class="play"
                    ><img src="../../../../assets/images/play.png"
                  /></a>
                  <a href="#" class="watch"
                    ><img src="../../../../assets/images/watch.png"
                  /></a>
                  <a href="#" class="btn btn-primary"
                    >Watch & Shop
                    <i class="fa fa-mobile"></i>
                  </a>
                </div>
              </div>
              <div class="help_title">
                <h3>Makeup Tutorial</h3>
                <p>Chantelle Petit</p>
                <p>95K View • 12 Hours Ago</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="help_wrap">
                <div class="help_img">
                  <img src="../../../../assets/images/h2.png" /><a
                    href="#"
                    class="play"
                    ><img src="../../../../assets/images/play.png"
                  /></a>
                  <a href="#" class="watch"
                    ><img src="../../../../assets/images/watch.png"
                  /></a>
                  <a href="#" class="btn btn-primary"
                    >Watch & Shop
                    <i class="fa fa-mobile"></i>
                  </a>
                </div>
              </div>
              <div class="help_title">
                <h3>Makeup Tutorial</h3>
                <p>Chantelle Petit</p>
                <p>95K View • 12 Hours Ago</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="help_wrap">
                <div class="help_img">
                  <img src="../../../../assets/images/h3.png" /><a
                    href="#"
                    class="play"
                    ><img src="../../../../assets/images/play.png"
                  /></a>
                  <a href="#" class="watch"
                    ><img src="../../../../assets/images/watch.png"
                  /></a>
                  <a href="#" class="btn btn-primary"
                    >Watch & Shop
                    <i class="fa fa-mobile"></i>
                  </a>
                </div>
              </div>
              <div class="help_title">
                <h3>Eye & Lips Care Tutorial</h3>
                <p>Chantelle Petit</p>
                <p>95K View • 12 Hours Ago</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
