

<div id="cover-spin"></div>
<section id="breadcum" class="mb-2">
  <div class="container">
    HOME <i class="fa fa-angle-right"></i>My Account
    <i class="fa fa-angle-right"></i>My Wishlist
  </div>
</section>
<div class="container">
  <div class="my-aacount-bg">
    <h4>My Account</h4>
  </div>
  <div class="row">
    <div class="col-md-3">
      <ul class="nav my-order-sidebar nav-pills flex-column pb-3" id="menu">
        <h5 class="pt-4 order-head">My Orders</h5>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg1.svg" alt="Chitchat" />
            <span class="ms-3 my-account-password">All (150)</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg2.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Pending (150)</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg3.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Processing (150)</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg4.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Delivered (150)</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg5.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Delivered (150)</span>
          </a>
        </li>
        <h5 class="pt-3">Personal Information</h5>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg6.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Personal Details</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg7.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Delivery Details</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg8.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">My Wishlist</span>
          </a>
        </li>
        <h5 class="pt-3">My Assets</h5>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg9.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">My Coupons</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg10.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">My Wallet</span>
          </a>
        </li>
        <h5 class="pt-3">Get in Touch</h5>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg11.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Contact Us</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <p class="personal-title">My Coupons</p>
      <div class="row">
        <div class="col-md-9">
          <div class="new-coupon">
            <div class="row">
              <div class="col-md-9"> 
                <div class="coupon-offer">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="flexRadioDefault"
                      id="flexRadioDefault1"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                      10% OFF
                    </label>
                    <p>VENDOR: <span>Revlon</span></p>
                    <p>CATAGORY: <span>Makeup</span></p>
                    <p>PRODUCTS: <span>Revlon Foundation 1</span></p>

                    <div class="expire-on">
                      <p>Expire on: <span>18hrs 10 mins</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3"></div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="redeem-btn">
            <button type="button" class="btn">REDEEM</button>
          </div>
        </div>
      </div>
      <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item col-3" role="presentation">
          <button
            class="nav-link w-100 active"
            id="BrowseCategories-tab"
            data-bs-toggle="tab"
            data-bs-target="#BrowseCategories"
            type="button"
            role="tab"
            aria-controls="BrowseCategories"
            aria-selected="true">
            Browse Categories
          </button>
        </li>


        <li class="nav-item col-3" role="presentation">
          <button
            class="nav-link w-100"
            id="MostUsedCategory-tab"
            data-bs-toggle="tab"
            data-bs-target="#MostUsedCategory"
            type="button"
            role="tab"
            aria-controls="MostUsedCategory"
            aria-selected="true" >
            Most Used Category
          </button>
        </li>
      </ul>
      <div >
        <div class="d-flex flex-nowrap" style="min-height: 400px">
          <div class="border-end">
            <div class="categories h-50">
              <label class="right-arrow"> For Queens </label>
            </div>
            <div class="categories h-50">
              <label class="right-arrow"> For Kings</label>
            </div>
          </div>
        </div>
        <div class="text-end p-4 border-top">
          <button
            type="button"
            class="btn btn-custom-secondary rounded fs-6 py-1"
          >
            NEXT
          </button>
        </div>
      </div>











      <div
        class="tab-pane fade"
        id="MostUsedCategory"
        role="tabpanel"
        aria-labelledby="MostUsedCategory-tab"
      >
        <div
          class="browser-categories d-flex flex-column justify-content-between"
        >
          <div>
            <div class="d-flex my-3 px-4 align-items-center">
              <input
                type="text"
                class="form-control py-1 fs-6"
                placeholder="Search for categories, sub-categories"
                formControlName="serch_cat_data"
              />
           
            </div>

         
          </div>
          <div class="text-end p-4 border-top">
            <button
              type="button"
              class="btn btn-custom-secondary rounded fs-6 py-1"
            >
              NEXT
            </button>
          </div>
        </div>
        <p class="find-categories mt-3">
          Don’t find your categories?
          <a href="javascript:void(0)">Click here</a> to browse the category
          tree.
        </p>
      </div> -->
    </div>
  </div>
</div>
