<div class="dashboard-wrapper">
    <div class="sub-header">
        <div class="row align-items-center">
            <div class="col-sm-3">
                <h3 class="title">My Account</h3>
            </div>
        </div>
    </div>

    <div class="star-my-account-wrapper">
        <div class="my-account-banner mb-5">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h2>Welcome to My Account</h2>
                </div>
                <div class="col-sm-6">
                    <img class="w-100" src="assets/images/my-account-banner.svg" alt="" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="card text-center" (click)="gotoEditshop()">
                    <img src="assets/images/user.svg" alt="" />
                    <h5>Account</h5>
                    <p>Show or update your personal information</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card text-center" (click)="gotoEditshop()">
                    <img src="assets/images/payment.svg" alt="" />
                    <h5>Payments</h5>
                    <p>Show or update your payments’ information</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card card-bg">
                    <img src="assets/images/close-white.png" alt="">
                    <p>Bumi.ke</p>
                    <h5>Mobile App Coming Soon!</h5>
                    <label>Google Play and App Store</label>
                </div>
            </div>
        </div>
    </div>

</div>