<div class="settings-category-wrapper">
    <div class="settings-category-content">
        <div class="settings-breadcrumb">
            <h2>Settings > Capabilities Settings</h2>
            <div>
                <button type="button" class="btn btn-custom-light">CANCEL</button>
                <button type="button" class="btn btn-custom-secondary ms-4">SAVE</button>
            </div>
        </div>
        <div class="setting-category">
            <h3>Sold By Vendors</h3>
            <p>Configure what to hide from all Vendors</p>
            <div class="row justify-content-between mb-5">
                <div class="col-sm-5">
                    <div class="list">
                        <h4 class="title">Products</h4>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Manage Products</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Add Products</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Publish Products</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Edit Live Products</h5>
                            <label class="custom-switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Auto Publish Live Products</h5>
                            <label class="custom-switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                    </div>
                    <div class="list mt-5">
                        <h6>Types</h6>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Simple</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Variable</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Complex</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Lorem Ipsum</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="list">
                        <h4 class="title">Access</h4>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Backend Access (bumi-admin)</h5>
                            <label class="custom-switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                    </div>
                    <div class="list mt-5">
                        <h6>Marketplace</h6>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Show Sold By</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Show Email</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Show Phone Number</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Show Address</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Show Map</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Show Social</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Store Hours</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Shop Managers</h3>
            <p>Configure what to hide from all Shop Managers</p>
            <div class="row justify-content-between mb-5">
                <div class="col-sm-5">
                    <div class="list">
                        <h4 class="title">Products</h4>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Manage Products</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Add Products</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Publish Products</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Edit Live Products</h5>
                            <label class="custom-switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Auto Publish Live Products</h5>
                            <label class="custom-switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                    </div>
                    <div class="list mt-5">
                        <h6>Types</h6>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Simple</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Variable</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Complex</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Lorem Ipsum</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="list">
                        <h4 class="title">Access</h4>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Backend Access (bumi-admin)</h5>
                            <label class="custom-switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                    </div>
                    <div class="list mt-5">
                        <h6>Marketplace</h6>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Show Sold By</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Show Email</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Show Phone Number</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Show Address</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Show Map</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Show Social</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Store Hours</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Shop Staffs</h3>
            <p>Configure what to hide from all Shop Staff</p>
            <div class="row justify-content-between mb-5">
                <div class="col-sm-5">
                    <div class="list">
                        <h4 class="title">Products</h4>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Manage Products</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Add Products</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Publish Products</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Edit Live Products</h5>
                            <label class="custom-switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Auto Publish Live Products</h5>
                            <label class="custom-switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                    </div>
                    <div class="list mt-5">
                        <h6>Types</h6>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Simple</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Variable</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Complex</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Lorem Ipsum</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="list">
                        <h4 class="title">Access</h4>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Backend Access (bumi-admin)</h5>
                            <label class="custom-switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                    </div>
                    <div class="list mt-5">
                        <h6>Marketplace</h6>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Show Sold By</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Show Email</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Show Phone Number</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Show Address</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Show Map</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Show Social</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h5>Store Hours</h5>
                            <label class="custom-switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                                <span class="on">ON</span>
                                <span class="off">OFF</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>