<app-header-top></app-header-top>
<app-header></app-header>
<section id="breadcum">
  <div class="container">LIFESTYLE</div>
</section>
<section id="product-listing-outer">
  <div class="container">
    <img
      class="img-fluid"
      src="../../../../../assets/images/lifestyle/lifestyle_banner.png"
    />
      <div class="row">
        <div class="col-md-6">
          <div class="row lifestyle-tv">
            <div class="col-md-6">
              <div class="lifestyle-title">
                <h6>TV/Audio/Visual</h6>
              </div>
            </div>
            <div class="col-md-6">
              <div class="lifestyle-seeall">
                <h6>See All</h6>
              </div>
            </div>
            <div class="col-md-4">
              <div class="lifestyle-product-img">
                <img
                  class="img-fluid"
                  src="../../../../../assets/images/lifestyle/tv.png"
                />
              </div>
              <div class="lifestyle-product-description">
                <h6>Lorem ipsum dolor sit</h6>
                <h5>KSh 1,000.00</h5>
                <h6>KSh 1,000.00</h6>
              </div>
            </div>
            <div class="col-md-4">
              <div class="lifestyle-product-img">
                <img
                  class="img-fluid"
                  src="../../../../../assets/images/lifestyle/home.png"
                />
              </div>
              <div class="lifestyle-product-description">
                <h6>Lorem ipsum dolor sit</h6>
                <h5>KSh 1,000.00</h5>
                <h6>KSh 1,000.00</h6>
              </div>
            </div>
            <div class="col-md-4">
              <div class="lifestyle-product-img">
                <img
                  class="img-fluid"
                  src="../../../../../assets/images/lifestyle/speaker.png"
                />
              </div>
              <div class="lifestyle-product-description">
                <h6>Lorem ipsum dolor sit</h6>
                <h5>KSh 1,000.00</h5>
                <h6>KSh 1,000.00</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row lifestyle-tv">
            <div class="col-md-6">
              <div class="lifestyle-title">
                <h6>Cooking & Dinning</h6>
              </div>
            </div>
            <div class="col-md-6">
              <div class="lifestyle-seeall">
                <h6>See All</h6>
              </div>
            </div>
            <div class="col-md-4">
              <div class="lifestyle-product-img">
                <img
                  class="img-fluid"
                  src="../../../../../assets/images/lifestyle/gas.png"
                />
              </div>
              <div class="lifestyle-product-description">
                <h6>Lorem ipsum dolor sit</h6>
                <h5>KSh 1,000.00</h5>
                <h6>KSh 1,000.00</h6>
              </div>
            </div>
            <div class="col-md-4">
              <div class="lifestyle-product-img">
                <img
                  class="img-fluid"
                  src="../../../../../assets/images/lifestyle/hotport.png"
                />
              </div>
              <div class="lifestyle-product-description">
                <h6>Lorem ipsum dolor sit</h6>
                <h5>KSh 1,000.00</h5>
                <h6>KSh 1,000.00</h6>
              </div>
            </div>
            <div class="col-md-4">
              <div class="lifestyle-product-img">
                <img
                  class="img-fluid"
                  src="../../../../../assets/images/lifestyle/cooker.png"
                />
              </div>
              <div class="lifestyle-product-description">
                <h6>Lorem ipsum dolor sit</h6>
                <h5>KSh 1,000.00</h5>
                <h6>KSh 1,000.00</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row lifestyle-tv">
        <div class="col-md-6">
          <div class="lifestyle-title">
            <h6>Furnishing & Accessories</h6>
          </div>
        </div>
        <div class="col-md-6">
          <div class="lifestyle-seeall">
            <h6>See All</h6>
          </div>
        </div>
        <div class="col-md-2">
          <div class="lifestyle-product-img">
            <img
              class="img-fluid"
              src="../../../../../assets/images/lifestyle/painting.png"
            />
          </div>
          <div class="lifestyle-product-description">
            <h6>Lorem ipsum dolor sit</h6>
            <h5>KSh 1,000.00</h5>
            <h6>KSh 1,000.00</h6>
          </div>
        </div>
        <div class="col-md-2">
          <div class="lifestyle-product-img">
            <img
              class="img-fluid"
              src="../../../../../assets/images/lifestyle/port.png"
            />
          </div>
          <div class="lifestyle-product-description">
            <h6>Lorem ipsum dolor sit</h6>
            <h5>KSh 1,000.00</h5>
            <h6>KSh 1,000.00</h6>
          </div>
        </div>
        <div class="col-md-2">
          <div class="lifestyle-product-img">
            <img
              class="img-fluid"
              src="../../../../../assets/images/lifestyle/white-port.png"
            />
          </div>
          <div class="lifestyle-product-description">
            <h6>Lorem ipsum dolor sit</h6>
            <h5>KSh 1,000.00</h5>
            <h6>KSh 1,000.00</h6>
          </div>
        </div>
        <div class="col-md-2">
          <div class="lifestyle-product-img">
            <img
              class="img-fluid"
              src="../../../../../assets/images/lifestyle/sheet.png"
            />
          </div>
          <div class="lifestyle-product-description">
            <h6>Lorem ipsum dolor sit</h6>
            <h5>KSh 1,000.00</h5>
            <h6>KSh 1,000.00</h6>
          </div>
        </div>
        <div class="col-md-2">
          <div class="lifestyle-product-img">
            <img
              class="img-fluid"
              src="../../../../../assets/images/lifestyle/pilow.png"
            />
          </div>
          <div class="lifestyle-product-description">
            <h6>Lorem ipsum dolor sit</h6>
            <h5>KSh 1,000.00</h5>
            <h6>KSh 1,000.00</h6>
          </div>
        </div>
        <div class="col-md-2">
          <div class="lifestyle-product-img">
            <img
              class="img-fluid"
              src="../../../../../assets/images/lifestyle/blanket.png"
            />
          </div>
          <div class="lifestyle-product-description">
            <h6>Lorem ipsum dolor sit</h6>
            <h5>KSh 1,000.00</h5>
            <h6>KSh 1,000.00</h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row lifestyle-tv">
            <div class="col-md-6">
              <div class="lifestyle-title">
                <h6>Cameras & Kittings</h6>
              </div>
            </div>
            <div class="col-md-6">
              <div class="lifestyle-seeall">
                <h6>See All</h6>
              </div>
            </div>
            <div class="col-md-4">
              <div class="lifestyle-product-img">
                <img
                  class="img-fluid"
                  src="../../../../../assets/images/lifestyle/camera.png"
                />
              </div>
              <div class="lifestyle-product-description">
                <h6>Lorem ipsum dolor sit</h6>
                <h5>KSh 1,000.00</h5>
                <h6>KSh 1,000.00</h6>
              </div>
            </div>
            <div class="col-md-4">
              <div class="lifestyle-product-img">
                <img
                  class="img-fluid"
                  src="../../../../../assets/images/lifestyle/light.png"
                />
              </div>
              <div class="lifestyle-product-description">
                <h6>Lorem ipsum dolor sit</h6>
                <h5>KSh 1,000.00</h5>
                <h6>KSh 1,000.00</h6>
              </div>
            </div>
            <div class="col-md-4">
              <div class="lifestyle-product-img">
                <img
                  class="img-fluid"
                  src="../../../../../assets/images/lifestyle/body.png"
                />
              </div>
              <div class="lifestyle-product-description">
                <h6>Lorem ipsum dolor sit</h6>
                <h5>KSh 1,000.00</h5>
                <h6>KSh 1,000.00</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row lifestyle-tv">
            <div class="col-md-6">
              <div class="lifestyle-title">
                <h6>Electricals</h6>
              </div>
            </div>
            <div class="col-md-6">
              <div class="lifestyle-seeall">
                <h6>See All</h6>
              </div>
            </div>
            <div class="col-md-4">
              <div class="lifestyle-product-img">
                <img
                  class="img-fluid"
                  src="../../../../../assets/images/lifestyle/inchitap.png"
                />
              </div>
              <div class="lifestyle-product-description">
                <h6>Lorem ipsum dolor sit</h6>
                <h5>KSh 1,000.00</h5>
                <h6>KSh 1,000.00</h6>
              </div>
            </div>
            <div class="col-md-4">
              <div class="lifestyle-product-img">
                <img
                  class="img-fluid"
                  src="../../../../../assets/images/lifestyle/soket.png"
                />
              </div>
              <div class="lifestyle-product-description">
                <h6>Lorem ipsum dolor sit</h6>
                <h5>KSh 1,000.00</h5>
                <h6>KSh 1,000.00</h6>
              </div>
            </div>
            <div class="col-md-4">
              <div class="lifestyle-product-img">
                <img
                  class="img-fluid"
                  src="../../../../../assets/images/lifestyle/wire.png"
                />
              </div>
              <div class="lifestyle-product-description">
                <h6>Lorem ipsum dolor sit</h6>
                <h5>KSh 1,000.00</h5>
                <h6>KSh 1,000.00</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row lifestyle-tv">
          <div class="col-md-6">
            <div class="lifestyle-title">
              <h6>Office Supplies</h6>
            </div>
          </div>
          <div class="col-md-6">
            <div class="lifestyle-seeall">
              <h6>See All</h6>
            </div>
          </div>
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/box.png"
              />
            </div>
            <div class="lifestyle-product-description">
              <h6>Lorem ipsum dolor sit</h6>
              <h5>KSh 1,000.00</h5>
              <h6>KSh 1,000.00</h6>
            </div>
          </div>
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/pen.png"
              />
            </div>
            <div class="lifestyle-product-description">
              <h6>Lorem ipsum dolor sit</h6>
              <h5>KSh 1,000.00</h5>
              <h6>KSh 1,000.00</h6>
            </div>
          </div>
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/pages.png"
              />
            </div>
            <div class="lifestyle-product-description">
              <h6>Lorem ipsum dolor sit</h6>
              <h5>KSh 1,000.00</h5>
              <h6>KSh 1,000.00</h6>
            </div>
          </div>
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/dairy.png"
              />
            </div>
            <div class="lifestyle-product-description">
              <h6>Lorem ipsum dolor sit</h6>
              <h5>KSh 1,000.00</h5>
              <h6>KSh 1,000.00</h6>
            </div>
          </div>
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/notebook.png"
              />
            </div>
            <div class="lifestyle-product-description">
              <h6>Lorem ipsum dolor sit</h6>
              <h5>KSh 1,000.00</h5>
              <h6>KSh 1,000.00</h6>
            </div>
          </div>
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/photocopy.png"
              />
            </div>
            <div class="lifestyle-product-description">
              <h6>Lorem ipsum dolor sit</h6>
              <h5>KSh 1,000.00</h5>
              <h6>KSh 1,000.00</h6>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img class="img-lifestyle" src="../../../../../assets/images/lifestyle/count.png" />
        </div>
        <div class="col-md-6">
          <img class="img-lifestyle" src="../../../../../assets/images/lifestyle/kitchan.png" />
        </div>
      </div>
      <div class="row lifestyle-tv">
        <div class="lifestyle-title">
          <h6>Home Appliances</h6>
        </div>
        <div class="row home-product">
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/Fridges.png"
              />
            </div>
            <div class="lifestyle-product-description">
              <h4>Fridges</h4>
            </div>
          </div>
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/Coffee-makers.png"
              />
            </div>
            <div class="lifestyle-product-description">
              <h4>Coffee Makers</h4>
            </div>
          </div>
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/Mixers.png"
              />
            </div>
            <div class="lifestyle-product-description">
              <h4>Mixers</h4>
            </div>
          </div>
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/Dispensers.png"
              />
            </div>
            <div class="lifestyle-product-description">
              <h4>Dispensers</h4>
            </div>
          </div>
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/Coolers.png"
              />
            </div>
            <div class="lifestyle-product-description">
              <h4>Coolers</h4>
            </div>
          </div>
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/Freezers.png"
              />
            </div>
            <div class="lifestyle-product-description">
              <h4>Freezers</h4>
            </div>
          </div>
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/Washers.png"
              />
            </div>
            <div class="lifestyle-product-description">
              <h4>Washers</h4>
            </div>
          </div>
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/Cookers.png"
              />
            </div>
            <div class="lifestyle-product-description">
              <h4>Cookers</h4>
            </div>
          </div>
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/Blenders.png"
              />
            </div>
            <div class="lifestyle-product-description">
              <h4>Blenders</h4>
            </div>
          </div>
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/Deep-fryers.png"
              />
            </div>
            <div class="lifestyle-product-description">
              <h4>Deep Fryers</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row lifestyle-tv">
        <div class="col-md-6">
          <div class="lifestyle-title">
            <h6>Furniture</h6>
          </div>
        </div>
        <div class="col-md-6">
          <div class="lifestyle-seeall">
            <h6>See All</h6>
          </div>
        </div>
        <div class="row home-product">
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/sofa.png"
              />
            </div>
          </div>
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/sofa-chair.png"
              />
            </div>
          </div>
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/dining.png"
              />
            </div>
          </div>
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/bed.png"
              />
            </div>
          </div>
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/jhula.png"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row lifestyle-tv">
        <img
          class="img-fluid"
          src="../../../../../assets/images/lifestyle/Buy.png"
        />
      </div>
      <div class="row lifestyle-tv">
        <div class="col-md-6">
          <div class="lifestyle-title">
            <h6>Lighting</h6>
          </div>
        </div>
        <div class="col-md-6">
          <div class="lifestyle-seeall">
            <h6>See All</h6>
          </div>
        </div>
        <div class="row home-product">
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/bulb.png"
              />
            </div>
            <div class="lifestyle-product-description">
              <h6>Lorem ipsum dolor sit</h6>
              <h5>KSh 1,000.00</h5>
              <h6>KSh 1,000.00</h6>
            </div>
          </div>
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/lamp.png"
              />
            </div>
            <div class="lifestyle-product-description">
              <h6>Lorem ipsum dolor sit</h6>
              <h5>KSh 1,000.00</h5>
              <h6>KSh 1,000.00</h6>
            </div>
          </div>
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/jummer.png"
              />
            </div>
            <div class="lifestyle-product-description">
              <h6>Lorem ipsum dolor sit</h6>
              <h5>KSh 1,000.00</h5>
              <h6>KSh 1,000.00</h6>
            </div>
          </div>
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/led.png"
              />
            </div>
            <div class="lifestyle-product-description">
              <h6>Lorem ipsum dolor sit</h6>
              <h5>KSh 1,000.00</h5>
              <h6>KSh 1,000.00</h6>
            </div>
          </div>
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/cfl.png"
              />
            </div>
            <div class="lifestyle-product-description">
              <h6>Lorem ipsum dolor sit</h6>
              <h5>KSh 1,000.00</h5>
              <h6>KSh 1,000.00</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="row lifestyle-tv">
        <div class="col-md-6">
          <div class="lifestyle-title">
            <h6>Storage Laundry & Cleaning</h6>
          </div>
        </div>
        <div class="col-md-6">
          <div class="lifestyle-seeall">
            <h6>See All</h6>
          </div>
        </div>
        <div class="row home-product">
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/img1.png"
              />
            </div>
            <div class="lifestyle-product-description">
              <h6>Lorem ipsum dolor sit</h6>
              <h5>KSh 1,000.00</h5>
              <h6>KSh 1,000.00</h6>
            </div>
          </div>
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/img2.png"
              />
            </div>
            <div class="lifestyle-product-description">
              <h6>Lorem ipsum dolor sit</h6>
              <h5>KSh 1,000.00</h5>
              <h6>KSh 1,000.00</h6>
            </div>
          </div>
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/img3.png"
              />
            </div>
            <div class="lifestyle-product-description">
              <h6>Lorem ipsum dolor sit</h6>
              <h5>KSh 1,000.00</h5>
              <h6>KSh 1,000.00</h6>
            </div>
          </div>
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/img4.png"
              />
            </div>
            <div class="lifestyle-product-description">
              <h6>Lorem ipsum dolor sit</h6>
              <h5>KSh 1,000.00</h5>
              <h6>KSh 1,000.00</h6>
            </div>
          </div>
          <div class="col-md-2">
            <div class="lifestyle-product-img">
              <img
                class="img-fluid"
                src="../../../../../assets/images/lifestyle/img5.png"
              />
            </div>
            <div class="lifestyle-product-description">
              <h6>Lorem ipsum dolor sit</h6>
              <h5>KSh 1,000.00</h5>
              <h6>KSh 1,000.00</h6>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
<app-footer></app-footer>
