<app-header-top></app-header-top>
<!-- <app-header></app-header> -->
<section>
  <div class="faq-banner">
    <h1>Bumi Chat Centre</h1>
  </div>
  <div class="container pt-3">
    <div class="row no-gutters app-one">
      <div class="col-sm-4 side">
        <div class="side-one">
          <div class="row chat-heading">
            <div class="col-sm-6 col-xs-6 heading-avatar">
              <div class="heading-avatar-icon">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" />
              </div>
            </div>
            <div class="col-sm-6 col-xs-6">
              <div class="chat-right-icon">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
              </div>
            </div>
          </div>

          <div class="row searchBox">
            <div class="col-sm-12 searchBox-inner">
              <div class="form-group has-feedback">
                <input
                  id="searchText"
                  type="text"
                  class="form-control"
                  name="searchText"
                  placeholder="Search"
                />
                <span
                  class="glyphicon glyphicon-search form-control-feedback"
                ></span>
              </div>
            </div>
          </div>
        </div>

        <div class="side-two">
          <div class="row compose-sideBar">
            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img
                    src="https://bootdey.com/img/Content/avatar/avatar1.png"
                  />
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18 </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img
                    src="https://bootdey.com/img/Content/avatar/avatar1.png"
                  />
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18 </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img
                    src="https://bootdey.com/img/Content/avatar/avatar2.png"
                  />
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18 </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img
                    src="https://bootdey.com/img/Content/avatar/avatar3.png"
                  />
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18 </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img
                    src="https://bootdey.com/img/Content/avatar/avatar4.png"
                  />
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18 </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img
                    src="https://bootdey.com/img/Content/avatar/avatar5.png"
                  />
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18 </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img
                    src="https://bootdey.com/img/Content/avatar/avatar6.png"
                  />
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18 </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img
                    src="https://bootdey.com/img/Content/avatar/avatar2.png"
                  />
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18 </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img
                    src="https://bootdey.com/img/Content/avatar/avatar3.png"
                  />
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18 </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img
                    src="https://bootdey.com/img/Content/avatar/avatar4.png"
                  />
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18 </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img
                    src="https://bootdey.com/img/Content/avatar/avatar5.png"
                  />
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18 </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-8 chat-area">
        <div class="row chat-heading pb-4">
          <div class="col-md-1 heading-avatar">
            <div class="heading-avatar-icon">
              <img src="https://bootdey.com/img/Content/avatar/avatar6.png" />
            </div>
          </div>
          <div class="col-md-8 heading-name">
            <a class="heading-name-meta">Bumi View Support </a>
            <p class="heading-online">lorem, lorem lorem</p>
          </div>
          <div class="col-md-3">
            <div class="chat-right-icon">
              <i class="fa fa-search pt-2" aria-hidden="true"></i>
              <span class="pl-3"> <i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
            </div>
          </div>
        </div>
        <div class="pt-4">
          <div class="d-flex flex-row justify-content-start">
            <div>
              <p
                class="small p-2 ms-3 mb-1 rounded-3"
                style="background-color: #f5f6f7"
              >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <p class="small ms-3 mb-3 rounded-3 text-muted float-end">
                12:00 PM | Aug 13
              </p>
            </div>
          </div>

          <div class="d-flex flex-row justify-content-end">
            <div>
              <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.
              </p>
              <p class="small me-3 mb-3 rounded-3 text-muted">
                12:00 PM | Aug 13
              </p>
            </div>
          </div>
          <div class="d-flex flex-row justify-content-start">
            <div>
              <p
                class="small p-2 ms-3 mb-1 rounded-3"
                style="background-color: #f5f6f7"
              >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <p class="small ms-3 mb-3 rounded-3 text-muted float-end">
                12:00 PM | Aug 13
              </p>
            </div>
          </div>

          <div class="d-flex flex-row justify-content-end">
            <div>
              <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.
              </p>
              <p class="small me-3 mb-3 rounded-3 text-muted">
                12:00 PM | Aug 13
              </p>
            </div>
          </div>
          <div class="d-flex flex-row justify-content-start">
            <div>
              <p
                class="small p-2 ms-3 mb-1 rounded-3"
                style="background-color: #f5f6f7"
              >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <p class="small ms-3 mb-3 rounded-3 text-muted float-end">
                12:00 PM | Aug 13
              </p>
            </div>
          </div>

          <div class="d-flex flex-row justify-content-end">
            <div>
              <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.
              </p>
              <p class="small me-3 mb-3 rounded-3 text-muted">
                12:00 PM | Aug 13
              </p>
            </div>
          </div>
          <div class="d-flex flex-row justify-content-start">
            <div>
              <p
                class="small p-2 ms-3 mb-1 rounded-3"
                style="background-color: #f5f6f7"
              >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <p class="small ms-3 mb-3 rounded-3 text-muted float-end">
                12:00 PM | Aug 13
              </p>
            </div>
          </div>

          <div class="d-flex flex-row justify-content-end">
            <div>
              <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.
              </p>
              <p class="small me-3 mb-3 rounded-3 text-muted">
                12:00 PM | Aug 13
              </p>
            </div>
          </div>
        </div>

        <div class="row reply">
          <div class="col-sm-1 col-xs-1 reply-emojis">
            <i class="fa fa-smile-o fa-2x"></i>
          </div>
          <div class="col-sm-1 col-xs-1 reply-send">
            <i class="fa fa-paperclip fa-2x" aria-hidden="true"></i>
          </div>
          <div class="col-sm-9 col-xs-9 reply-main">
            <textarea class="form-control" rows="1" id="comment"></textarea>
          </div>
          <div class="col-sm-1 col-xs-1 reply-recording">
            <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
