<app-header-top></app-header-top>
<!-- <app-header></app-header> -->
<section>
  <div class="faq-banner">
    <h1>Beauty and Fashion Tutorials</h1>
  </div>
  <div class="container">
    <div class="row chat-area">
      <div class="col-md-4">
        <div class="chat-area-head">
          <div class="row">
            <div class="col-md-6">
                 <div class="user-icon">
                   <i class="fa fa-user-circle" aria-hidden="true"></i>
                 </div>

               
    
            </div>
            <div class="col-md-6">
              <i class="fa fa-ellipsis-v"></i>
            </div>
          </div>
        </div>
        <div class="input-group  pt-3">
          <input type="text" placeholder="Search..." name="" class="form-control search">
          <div class="input-group-prepend">
            <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
          </div>
        </div>
      </div>
      <div class="col-md-8"></div>
    </div>
  </div>
</section>
<app-footer></app-footer>
