<div class="settings-category-wrapper">
    <div class="settings-category-content">
        <div class="settings-breadcrumb">
            <h2>Settings > Commission Settings</h2>
            <div>
                <button type="button" class="btn btn-custom-light">CANCEL</button>
                <button type="button" class="btn btn-custom-secondary ms-4">SAVE</button>
            </div>
        </div>
        <div class="setting-category">
            <div class="settings-input-grp">
                <div class="row align-items-center mb-4">
                    <div class="col-sm-4">
                        <label>Commission For</label>
                    </div>
                    <div class="col-sm-8">
                        <select class="form-select">
                            <option selected>Influencer</option>
                            <option>Influencer 1</option>
                            <option>Influencer 2</option>
                            <option>Influencer 3</option>
                        </select>
                    </div>
                </div>
                <!-- Sales Box-->
                <!-- <div class="sales-box mb-4">
                    <img class="full-screen" src="assets/images/full-screen.svg" alt="" />
                    <div class="row align-items-center mb-3">
                        <div class="col-sm-4">
                            <label>Sales Range</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" value="">
                        </div>
                    </div>
                    <div class="row align-items-center mb-3">
                        <div class="col-sm-4">
                            <label>Rule</label>
                        </div>
                        <div class="col-sm-8">
                            <select class="form-select">
                                <option selected>Up to</option>
                                <option>Up to 1</option>
                                <option>Up to 2</option>
                                <option>Up to 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="row align-items-center mb-3">
                        <div class="col-sm-4">
                            <label>Commission Type</label>
                        </div>
                        <div class="col-sm-8">
                            <select class="form-select">
                                <option selected>Percent</option>
                                <option>Percent 1</option>
                                <option>Percent 2</option>
                                <option>Percent 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="row align-items-center mb-3">
                        <div class="col-sm-4">
                            <label>Commission Percent(%)</label>
                        </div>
                        <div class="col-sm-8">
                            <select class="form-select">
                                <option selected>10</option>
                            </select>
                        </div>
                    </div>
                    <div class="row align-items-center position-relative">
                        <div class="col-sm-4">
                            <label>Commission Fixed (KSh)</label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" value="0">
                        </div>
                        <img class="add-field" src="assets/images/plus.svg" alt="" />
                    </div>
                </div>
                <p class="border-0">Commission rules depending upon vendors sales. eg 50%commission when sales KSh1000
                    but KSh2000 and
                    so onu may define any number of such rules. Please be sure do not set conflicting rules.</p> -->

                <div class="row align-items-center mb-4">
                    <div class="col-sm-4">
                        <label>Category</label>
                    </div>
                    <div class="col-sm-8">
                        <select class="form-select">
                            <option selected>Beauty</option>
                            <option>Beauty 1</option>
                            <option>Beauty 2</option>
                            <option>Beauty 3</option>
                        </select>
                    </div>
                </div>
                <div class="row align-items-center mb-4">
                    <div class="col-sm-4">
                        <label>Commission Mode</label>
                    </div>
                    <div class="col-sm-8">
                        <select class="form-select">
                            <option selected>Percent</option>
                            <option>Percent 1</option>
                            <option>Percent 2</option>
                            <option>Percent 3</option>
                        </select>
                    </div>
                </div>
                <div class="row align-items-center mb-4">
                    <div class="col-sm-4">
                        <label>Commission Percent (%)</label>
                    </div>
                    <div class="col-sm-8">
                        <select class="form-select">
                            <option selected>10</option>
                        </select>
                    </div>
                </div>
                <div class="row align-items-center mb-4">
                    <div class="col-sm-4">
                        <label>Shipping cost goes to Vendors</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="custom-checkbox">
                            <input type="checkbox"> <!-- checked="checked"-->
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="row align-items-center mb-4">
                    <div class="col-sm-4">
                        <label>DST goes to Influencer</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="custom-checkbox">
                            <input type="checkbox"> <!-- checked="checked"-->
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="row align-items-center mb-4">
                    <div class="col-sm-4">
                        <label>Commission after consider Vendor Coupon</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="custom-checkbox">
                            <input type="checkbox"> <!-- checked="checked"-->
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="row align-items-center mb-4">
                    <div class="col-sm-4">
                        <label>Commission after consider Admin Coupon</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="custom-checkbox">
                            <input type="checkbox"> <!-- checked="checked"-->
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="list mt-5">
                    <h4 class="title">Commission Tax Settings</h4>
                </div>
                <div class="row align-items-center mb-4">
                    <div class="col-sm-4">
                        <label>Enable</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="custom-checkbox">
                            <input type="checkbox"> <!-- checked="checked"-->
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="row align-items-center mb-4">
                    <div class="col-sm-4">
                        <label>Tax Label</label>
                    </div>
                    <div class="col-sm-8">
                        <select class="form-select">
                            <option selected>Digital Services Tax</option>
                            <option>Digital Services Tax 1</option>
                            <option>Digital Services Tax 2</option>
                            <option>Digital Services Tax 3</option>
                        </select>
                    </div>
                </div>
                <div class="row align-items-center mb-4">
                    <div class="col-sm-4">
                        <label>Tax Label</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" value="10">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>