<app-header-top></app-header-top>
<app-header></app-header>
<section id="breadcum">
  <div class="container">
    HOME <i class="fa fa-angle-right"></i> QUEENS <i class="fa fa-angle-right"></i> BEAUTY <i class="fa fa-angle-right"></i> MAKEUP <i class="fa fa-angle-right"></i> FACE
  </div>
</section>
<section id="product-listing-outer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="filter-sidebar">
          <h2>Filter By</h2>
          <div class="filter-wrap">
            <h3>Category   <i class="fa fa-search"></i></h3>
            <ul>
              <li><a href="#">Blush <span class="pro-count">(33)</span></a></li>
              <li><a href="#">Compact Powder <span class="pro-count">(33)</span></a></li>
              <li><a href="#">Highlighter & Luminizer <span class="pro-count">(33)</span></a></li>
              <li><a href="#">Powder <span class="pro-count">(33)</span></a></li>
              <li><a href="#">Contour <span class="pro-count">(33)</span></a></li>
              <li><a href="#">Foundation <span class="pro-count">(33)</span></a></li>
              <li><a href="#">BB & CC Cream <span class="pro-count">(33)</span></a></li>
              <li><a href="#">Tinted Moisturizer <span class="pro-count">(33)</span></a></li>
              <li><a href="#">Face Primer <span class="pro-count">(33)</span></a></li>
              <li><a href="#">Color Corrector <span class="pro-count">(33)</span></a></li>
              <li><a href="#">Bronzer <span class="pro-count">(33)</span></a></li>
              <li><a href="#">Setting Sprays <span class="pro-count">(33)</span></a></li>
              <li><a href="#">Loose Powder <span class="pro-count">(33)</span></a></li>
              <li><a href="#">Setting Sprays <span class="pro-count">(33)</span></a></li>
            </ul>
          </div>
          <div class="filter-wrap">
            <h3>Brand   <i class="fa fa-search"></i></h3>
            <ul>
              <li><a href="#">Canvas <span class="pro-count">(33)</span></a></li>
              <li><a href="#">Fendi<span class="pro-count">(33)</span></a></li>
              <li><a href="#">Loreal<span class="pro-count">(33)</span></a></li>
              <li><a href="#">Hermes <span class="pro-count">(33)</span></a></li>
              <li><a href="#">Louis Vuitton <span class="pro-count">(33)</span></a></li>
              <li><a href="#">Nivea <span class="pro-count">(33)</span></a></li>
              <li><a href="#">Dove<span class="pro-count">(33)</span></a></li>
              <li><a href="#">Revlon <span class="pro-count">(33)</span></a></li>
              
            </ul>
          </div>
           <div class="filter-wrap">
            <h3>Discount  </h3>
            <ul>
              <li><a href="#">1 - 250 <span class="pro-count">(33)</span></a></li>
              <li><a href="#"> 250 - 500 <span class="pro-count">(33)</span></a></li>
              <li><a href="#">500 - 1,000 <span class="pro-count">(33)</span></a></li>
              <li><a href="#"> 1,000 - 2,500 <span class="pro-count">(33)</span></a></li>
              <li><a href="#"> 2,500 - 5,000 <span class="pro-count">(33)</span></a></li>
              <li><a href="#"> 5,000 - 7,500 <span class="pro-count">(33)</span></a></li>
              <li><a href="#">7,500 - 10,000 <span class="pro-count">(33)</span></a></li>
              <li><a href="#"> Above 10,000<span class="pro-count">(33)</span></a></li>
            </ul>
          </div>
          <div class="filter-wrap">
            <h3>Discount  </h3>
            <ul>
                <li><a href="#">50% & Above <span class="pro-count">(33)</span></a></li>
                <li><a href="#">40% & Above <span class="pro-count">(33)</span></a></li>
                <li><a href="#">30% & Above <span class="pro-count">(33)</span></a></li>
                <li><a href="#">20% & Above <span class="pro-count">(33)</span></a></li>
                <li><a href="#">10% & Above <span class="pro-count">(33)</span></a></li>
                <li><a href="#">5% & Above Upto 5%<span class="pro-count">(33)</span></a></li>
            </ul>
          </div>
          <div class="filter-wrap">
            <h3>Colour Palette  </h3>
            <ul>
                <li><a href="#">Pink <span class="pro-count">(33)</span></a></li>
                <li><a href="#"> Turquise <span class="pro-count">(33)</span></a></li>
                <li><a href="#">  Burgandy <span class="pro-count">(33)</span></a></li>
                <li><a href="#">  Biege<span class="pro-count">(33)</span></a></li> 
                <li><a href="#">  Gold <span class="pro-count">(33)</span></a></li>
                <li><a href="#">  Peach <span class="pro-count">(33)</span></a></li>
                <li><a href="#">  Brown<span class="pro-count">(33)</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="filter-title">
          <div class="row">
            <div class="col-md-6"><h4>POPULAR VIDEOS </h4></div>
            <div class="col-md-6 text-right"><span class="left-arrow"><i class="fa fa-angle-left" aria-hidden="true"></i></span><span class="right-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></div>
            </div>
          </div>
       
        <div class="popular_video">
          <div class="row">
            <div class="col-md-4">
              <div class="popular_video_box">
                <div class="video_box"><img src="../../../../assets/images/video.png"><img src="../../../../assets/images/yplay.png" class="yplay-icon"></div>
                <div class="video-content">
                  <div class="video-auth"><img src="../../../../assets/images/1.png"></div>
                  <h5>Lorem Ipsum Text Chantelle Petit</h5>
                  <p> BUMI TV </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="popular_video_box">
                <div class="video_box"><img src="../../../../assets/images/video.png"><img src="../../../../assets/images/yplay.png" class="yplay-icon"></div>
                <div class="video-content">
                  <div class="video-auth"><img src="../../../../assets/images/1.png"></div>
                  <h5>Lorem Ipsum Text Chantelle Petit</h5>
                  <p> BUMI TV </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="popular_video_box">
                <div class="video_box"><img src="../../../../assets/images/video.png"><img src="../../../../assets/images/yplay.png" class="yplay-icon"></div>
                <div class="video-content">
                  <div class="video-auth"><img src="../../../../assets/images/1.png"></div>
                  <h5>Lorem Ipsum Text Chantelle Petit</h5>
                  <p> BUMI TV </p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="product-listing-wrap">
          <div class="row mb-4">
              <div class="col-md-6"><h4>Face </h4></div>
              <div class="col-md-6 text-right"><select class="custom-select"><option>Sort By</option><option>Sort By</option><option>Sort By</option></select></div>
          </div>

          <div class="row">
            <div class="col-md-3">
                <div class="product_list_inner">
                  <div class="pro_img"><img src="../../../../assets/images/f1.png"></div>
                  <h5>Revlon ULTRA HD MATTE LIP MOUSSE- Red Hot</h5>
                  <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 4.8 (3936)</div>
                  <h2>KSh1,550.00 <span>Sold By: Yummy Mummy</span></h2>
                  <a href="#" class="btn">ADD TO CART </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_list_inner">
                  <div class="pro_img"><img src="../../../../assets/images/f1.png"></div>
                  <h5>Revlon ULTRA HD MATTE LIP MOUSSE- Red Hot</h5>
                  <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 4.8 (3936)</div>
                  <h2>KSh1,550.00 <span>Sold By: Yummy Mummy</span></h2>
                  <a href="#" class="btn">ADD TO CART </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_list_inner">
                  <div class="pro_img"><img src="../../../../assets/images/f1.png"></div>
                  <h5>Revlon ULTRA HD MATTE LIP MOUSSE- Red Hot</h5>
                  <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 4.8 (3936)</div>
                  <h2>KSh1,550.00 <span>Sold By: Yummy Mummy</span></h2>
                  <a href="#" class="btn">ADD TO CART </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_list_inner">
                  <div class="pro_img"><img src="../../../../assets/images/f1.png"></div>
                  <h5>Revlon ULTRA HD MATTE LIP MOUSSE- Red Hot</h5>
                  <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 4.8 (3936)</div>
                  <h2>KSh1,550.00 <span>Sold By: Yummy Mummy</span></h2>
                  <a href="#" class="btn">ADD TO CART </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_list_inner">
                  <div class="pro_img"><img src="../../../../assets/images/f1.png"></div>
                  <h5>Revlon ULTRA HD MATTE LIP MOUSSE- Red Hot</h5>
                  <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 4.8 (3936)</div>
                  <h2>KSh1,550.00 <span>Sold By: Yummy Mummy</span></h2>
                  <a href="#" class="btn">ADD TO CART </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_list_inner">
                  <div class="pro_img"><img src="../../../../assets/images/f1.png"></div>
                  <h5>Revlon ULTRA HD MATTE LIP MOUSSE- Red Hot</h5>
                  <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 4.8 (3936)</div>
                  <h2>KSh1,550.00 <span>Sold By: Yummy Mummy</span></h2>
                  <a href="#" class="btn">ADD TO CART </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_list_inner">
                  <div class="pro_img"><img src="../../../../assets/images/f1.png"></div>
                  <h5>Revlon ULTRA HD MATTE LIP MOUSSE- Red Hot</h5>
                  <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 4.8 (3936)</div>
                  <h2>KSh1,550.00 <span>Sold By: Yummy Mummy</span></h2>
                  <a href="#" class="btn">ADD TO CART </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_list_inner">
                  <div class="pro_img"><img src="../../../../assets/images/f1.png"></div>
                  <h5>Revlon ULTRA HD MATTE LIP MOUSSE- Red Hot</h5>
                  <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 4.8 (3936)</div>
                  <h2>KSh1,550.00 <span>Sold By: Yummy Mummy</span></h2>
                  <a href="#" class="btn">ADD TO CART </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product_list_inner">
                  <div class="pro_img"><img src="../../../../assets/images/f1.png"></div>
                  <h5>Revlon ULTRA HD MATTE LIP MOUSSE- Red Hot</h5>
                  <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 4.8 (3936)</div>
                  <h2>KSh1,550.00 <span>Sold By: Yummy Mummy</span></h2>
                  <a href="#" class="btn">ADD TO CART </a>
                </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>