<div class="settings-category-wrapper">
    <div class="settings-category-content">
        <div class="settings-breadcrumb">
            <h2>Settings > Withdrawal Settings</h2>
            <div>
                <button type="button" class="btn btn-custom-light">CANCEL</button>
                <button type="button" class="btn btn-custom-secondary ms-4">SAVE</button>
            </div>
        </div>
        <div class="setting-category">
            <div class="settings-input-grp">
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label>Request Auto-Approve?</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="custom-checkbox">
                            <input type="checkbox"> <!-- checked="checked"-->
                            <span class="checkmark"></span>
                        </label>
                        <p class="border-0 m-0 p-0 fs-6">Check this to automatically disburse payments to vendors on
                            request, no admin approval required. Auto disbursement only works or auto-payment gateways
                            e.g PayPal, Stripe etc. Bank Transfer or other non autopay mode always requires approval, as
                            these are manual transactions.</p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label>Withdrawal Mode</label>
                    </div>
                    <div class="col-sm-8">
                        <select class="form-select">
                            <option selected>Manual Withdrawal</option>
                            <option>Manual Withdrawal 1</option>
                            <option>Manual Withdrawal 2</option>
                            <option>Manual Withdrawal 3</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label>Allowed Order Status for Withdrawal</label>
                    </div>
                    <div class="col-sm-8">
                        <p class="border-0 m-0 p-0 fs-6">Allowed order statuses for which vendor may request withdrawal.
                        </p>
                        <div class="row mt-4">
                            <div class="col-6 mb-3">
                                <label class="custom-checkbox fs-6">Pending Payment
                                    <input type="checkbox"> <!-- checked="checked"-->
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-6 mb-3">
                                <label class="custom-checkbox fs-6">Order in Transit
                                    <input type="checkbox"> <!-- checked="checked"-->
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-6 mb-3">
                                <label class="custom-checkbox fs-6">On Hold
                                    <input type="checkbox"> <!-- checked="checked"-->
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-6 mb-3">
                                <label class="custom-checkbox fs-6">Completed
                                    <input type="checkbox"> <!-- checked="checked"-->
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-6 mb-3">
                                <label class="custom-checkbox fs-6">Shipped
                                    <input type="checkbox"> <!-- checked="checked"-->
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-6 mb-3">
                                <label class="custom-checkbox fs-6">Pending Order
                                    <input type="checkbox"> <!-- checked="checked"-->
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-6 mb-3">
                                <label class="custom-checkbox fs-6">Paid
                                    <input type="checkbox"> <!-- checked="checked"-->
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-6 mb-3">
                                <label class="custom-checkbox fs-6">Delivered
                                    <input type="checkbox"> <!-- checked="checked"-->
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-6 mb-3">
                                <label class="custom-checkbox fs-6">Processing
                                    <input type="checkbox"> <!-- checked="checked"-->
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label>Minimum Withdrawal Limit</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" value="">
                        <p class="border-0 m-0 p-0 fs-6">Minimum balance to make a withdrawal request. Leave blank to
                            set no minimum limits.
                        </p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label>Withdraw Threshold</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" value="">
                        <p class="border-0 m-0 p-0 fs-6">Withdraw threshold days, (make order matured to make a withdraw
                            request.) Leave blank to inactivate this option.</p>
                    </div>
                </div>
                <div class="list mt-5">
                    <h4 class="title">Reverse Withdrawal Settings</h4>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label>Reverse Withdrawal</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="custom-checkbox">
                            <input type="checkbox"> <!-- checked="checked"-->
                            <span class="checkmark"></span>
                        </label>
                        <p class="border-0 m-0 p-0 fs-6">Enable this to keep track reverse withdrawals. Incase vendor
                            receive full payment (eg COD) from customer then they have to reverse-pay admin commission.
                            This is only applicable for reverse withdrawal payment method.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>