<app-header-top></app-header-top>
<app-header></app-header>
<section>
  <div class="faq-banner">
    <h1>Frequently Asked Question</h1>
  </div>
  <div class="container pt-3">
    <div class="row">
      <div class="col-md-3">
        <ul class="nav nav-pills flex-column pb-3">
          <h5 class="pt-4 order-head">Customer Care</h5>
          <li class="nav-item icon-order">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="ms-1 my-account-text">Products</span>
            </a>
          </li>
          <li class="nav-item icon-order">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="ms-1 my-account-text">Orders</span>
            </a>
          </li>
          <li class="nav-item icon-order">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="ms-1 my-account-text">Tax</span>
            </a>
          </li>
          <li class="nav-item icon-order">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="ms-1 my-account-text">Vendors</span>
            </a>
          </li>
          <li class="nav-item icon-order">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="ms-1 my-account-text">Influencers</span>
            </a>
          </li>
          <li class="nav-item icon-order">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="ms-1 my-account-text"
                >Cash On delivery (COD) FAQ
              </span>
            </a>
          </li>
          <li class="nav-item icon-order">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="ms-1 my-account-text"> Payment Methods </span>
            </a>
          </li>
          <li class="nav-item icon-order">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="ms-1 my-account-text"> Shipping Methods </span>
            </a>
          </li>
          <li class="nav-item icon-order">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="ms-1 my-account-text">Return & Refund </span>
            </a>
          </li>
          <li class="nav-item icon-order">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="ms-1 my-account-text">Account and Settings </span>
            </a>
          </li>

          <h5 class="pt-3">About Bumi</h5>
          <li class="nav-item icon-order">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="ms-1 my-account-text">About Us</span>
            </a>
          </li>
          <li class="nav-item icon-order">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="ms-1 my-account-text">Privacy Policy </span>
            </a>
          </li>
          <li class="nav-item icon-order">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="ms-1 my-account-text">Tax Affairs</span>
            </a>
          </li>
          <li class="nav-item icon-order">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="ms-1 my-account-text">Terms & Conditions</span>
            </a>
          </li>
          <li class="nav-item icon-order">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="ms-1 my-account-text"
                >Intellectual Property Claims</span
              >
            </a>
          </li>

          <h5 class="pt-3">Partnerships</h5>

          <li class="nav-item icon-order">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="ms-1 my-account-text">Affiliate program</span>
            </a>
          </li>
          <li class="nav-item icon-order">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="ms-1 my-account-text"> Dropship Program</span>
            </a>
          </li>
          <li class="nav-item icon-order">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="ms-1 my-account-text">Wholesale Program</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-9 mt-3">
        <div class="row">
          <div class="col-md-6">
            <div class="order-head">
                <h4>Orders</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="save-page pt-3">
                <p>Save Page Offline <span><img src="../../../../../assets/images/customer/toggle.svg" alt=""></span>  <span>SHARE PAGE</span> <span><img src="../../../../../assets/images/customer/twitter.svg" alt=""> &nbsp; <img src="../../../../../assets/images/customer/facebook.svg" alt=""> &nbsp;<img src="../../../../../assets/images/customer/instagram.svg" alt=""></span></p>
            </div>
          </div>
        </div>
        <div id="accordion" class="accordion pt-3">
          <div class="card mb-0">
            <div
              class="card-header collapsed"
              data-toggle="collapse"
              href="#collapseOne"
            >
              <a class="card-title"> How do I view my order history? </a>
            </div>
            <div
              id="collapseOne"
              class="card-body collapse"
              data-parent="#accordion"
            >
              <p>
                Anim pariatur cliche reprehenderit, enim eiusmod high life
                accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa
                nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                wes anderson cred nesciunt sapiente ea proident. Ad vegan
                excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably
                haven't heard of them accusamus labore sustainable VHS.
              </p>
            </div>
            <div
              class="card-header collapsed"
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapseTwo"
            >
              <a class="card-title"> How do add or remove items from my order</a>
            </div>
            <div
              id="collapseTwo"
              class="card-body collapse"
              data-parent="#accordion"
            >
              <p>
                Anim pariatur cliche reprehenderit, enim eiusmod high life
                accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa
                nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                wes anderson cred nesciunt sapiente ea proident. Ad vegan
                excepteur butcher vice lomo. Leggings occaecat craft beer
                farm-to-table, raw denim aesthetic synth nesciunt you probably
                haven't heard of them accusamus labore sustainable VHS.
              </p>
            </div>
            <div
              class="card-header collapsed"
              data-toggle="collapse"
              data-parent="#accordion"
              href="#collapseThree"
            >
              <a class="card-title"> Why was my order cancelled?</a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life
                accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa
                nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. samus labore sustainable VHS.
              </div>
            </div>
            <div
            class="card-header collapsed"
            data-toggle="collapse"
            href="#collapseFour"
          >
            <a class="card-title"> Where can I view my order status</a>
          </div>
          <div
            id="collapseFour"
            class="card-body collapse"
            data-parent="#accordion"
          >
            <p>
              Anim pariatur cliche reprehenderit, enim eiusmod high life
              accusamus terry richardson ad squid. 3 wolf moon officia aute,
              non cupidatat skateboard dolor brunch. Food truck quinoa
              nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
              put a bird on it squid single-origin coffee nulla assumenda
              shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
              wes anderson cred nesciunt sapiente ea proident. Ad vegan
              excepteur butcher vice lomo. Leggings occaecat craft beer
              farm-to-table, raw denim aesthetic synth nesciunt you probably
              haven't heard of them accusamus labore sustainable VHS.
            </p>
          </div>
          <div
            class="card-header collapsed"
            data-toggle="collapse"
            data-parent="#accordion"
            href="#collapseFive"
          >
            <a class="card-title"> Modify an Order</a>
          </div>
          <div
            id="collapseFive"
            class="card-body collapse"
            data-parent="#accordion"
          >
            <p>
              Anim pariatur cliche reprehenderit, enim eiusmod high life
              accusamus terry richardson ad squid. 3 wolf moon officia aute,
              non cupidatat skateboard dolor brunch. Food truck quinoa
              nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
              put a bird on it squid single-origin coffee nulla assumenda
              shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
              wes anderson cred nesciunt sapiente ea proident. Ad vegan
              excepteur butcher vice lomo. Leggings occaecat craft beer
              farm-to-table, raw denim aesthetic synth nesciunt you probably
              haven't heard of them accusamus labore sustainable VHS.
            </p>
          </div>
          <div
            class="card-header collapsed"
            data-toggle="collapse"
            data-parent="#accordion"
            href="#collapseSix"
          >
            <a class="card-title"> How do I view my order history ?</a>
          </div>
          <div id="collapseSix" class="collapse" data-parent="#accordion">
            <div class="card-body">

                <h5>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h5>
                <p>              Anim pariatur cliche reprehenderit, enim eiusmod high life
                    accusamus terry richardson ad squid. 3 wolf moon officia aute,
                    non cupidatat skateboard dolor brunch. Food truck quinoa
                    nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                    put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et. samus labore sustainable VHS.</p>

            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
