<div class="settings-category-wrapper">
    <div class="settings-category-content">
        <div class="settings-breadcrumb">
            <h2>Settings > Payment Settings</h2>
            <div>
                <button type="button" class="btn btn-custom-light">CANCEL</button>
                <button type="button" class="btn btn-custom-secondary ms-4">SAVE</button>
            </div>
        </div>
        <div class="setting-category">
            <div class="settings-input-grp">
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label>Withdraw Payment Methods</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-6 mb-3">
                                <label class="custom-checkbox fs-6">MPESA
                                    <input type="checkbox"> <!-- checked="checked"-->
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-6 mb-3">
                                <label class="custom-checkbox fs-6">Wirecard (Moip)
                                    <input type="checkbox"> <!-- checked="checked"-->
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-6 mb-3">
                                <label class="custom-checkbox fs-6">Skrill
                                    <input type="checkbox"> <!-- checked="checked"-->
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-6 mb-3">
                                <label class="custom-checkbox fs-6">Stripe
                                    <input type="checkbox"> <!-- checked="checked"-->
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-6 mb-3">
                                <label class="custom-checkbox fs-6">Bank Transfer
                                    <input type="checkbox"> <!-- checked="checked"-->
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-6 mb-3">
                                <label class="custom-checkbox fs-6">Stripe Split PAy
                                    <input type="checkbox"> <!-- checked="checked"-->
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-6 mb-3">
                                <label class="custom-checkbox fs-6">Cash Pay
                                    <input type="checkbox"> <!-- checked="checked"-->
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-6 mb-3">
                                <label class="custom-checkbox fs-6">PayPal
                                    <input type="checkbox"> <!-- checked="checked"-->
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label>Enable Test Mode</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="custom-checkbox">
                            <input type="checkbox"> <!-- checked="checked"-->
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <div class="list">
                            <h4 class="title">Transaction Charges</h4>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <p class="border-0 m-0 p-0 fs-6">These charges will be deducted from vendor’s total order
                            commisiion depending upon <span class="fw-bold">Order Payment Method.</span></p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label>Charge Type</label>
                    </div>
                    <div class="col-sm-8">
                        <select class="form-select">
                            <option selected>No Charge</option>
                            <option>No Charge 1</option>
                            <option>No Charge 2</option>
                            <option>No Charge 3</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <div class="list">
                            <h4 class="title">Withdrawal Charges</h4>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <p class="border-0 m-0 p-0 fs-6">These charges will be deducted from vendor’s withdrawal amount
                            depending upon <span class="fw-bold">Order Payment Method.</span></p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label>Charge Type</label>
                    </div>
                    <div class="col-sm-8">
                        <select class="form-select">
                            <option selected>No Charge</option>
                            <option>No Charge 1</option>
                            <option>No Charge 2</option>
                            <option>No Charge 3</option>
                        </select>
                        <p class="border-0 m-0 p-0 fs-6">Charges applicable for each withdrawal.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>