<div class="wrapper">
    <div class="comingsoon-page">
        <div class="logoDiv">
            <img src="assets/images/dark_logo.png" />
        </div>
        <div class="comingSoon_content">
            <div class="bottomRightImg">
                <img src="assets/images/abstract_corner.png" />
            </div>
            <div class="comingText">
                <h2>COMING SOON</h2>
                <h2 class="borderText">COMING SOON</h2>
            </div>
            <h4><b>Get ready!</b> Something really cool is coming!</h4>
            <div class="daysBoxes">
                <div class="boxDiv">
                    <span>10</span>
                    <small>DAY</small>
                </div>
                <div class="boxDiv">
                    <span>15</span>
                    <small>HOURS</small>
                </div>
                <div class="boxDiv">
                    <span>45</span>
                    <small>MINUTE</small>
                </div>
                <div class="boxDiv">
                    <span>04</span>
                    <small>SECOND</small>
                </div>
            </div>

            <div class="notifyDiv">
                <label>
                    <input type="text" class="form-control" />
                </label>
                <div class="btnDiv">
                    <button class="thmBtn actionBtn">
                        <img src="assets/images/ic_bell.png" />
                        <span>Notify Me</span>
                    </button>
                </div>
            </div>

            <div class="copyRightDiv">
                <Span>Copyright ©SimpliHR. All Rights Reserved</Span>
            </div>
        </div>
    </div>
</div>