<app-header-top></app-header-top>
<!-- <app-header></app-header> -->
<section id="breadcum">
  <div class="container">Home <i class="fa fa-angle-right"></i> MAKEUP</div>
</section>
<div class="container pt-5">
  <p class="makeup-head">Discover the latest makeup looks, learn how to apply foundation and more with Lancôme makeup tutorials.</p>
</div>
<section class="pt-3">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-6">
        <div class="wedding-makeup">
          <h4>
            WEDDING MAKEUP TIPS TO PERFECT YOUR BRIDAL MAKEUP AND WEDDING MAKEUP
            LOOK
          </h4>
          <p>
            Discover the essential makeup for a wedding with products from
            Lancôme. Shop products for makeup for bridesmaids, bridal makeup,
            and wedding guests.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="makup-img">
          <img
            class="img-fluid"
            src="../../../../../assets/images/discover/img1.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section id="product_list" class="text-center dpink">
  <div class="container">
    <div class="title">
      <span>Face</span>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="thumb-wrapper">
          <div class="img-box">
            <img
              src="../../../../../assets/images/discover/img2.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="thumb-content">
            <h4>HOW TO REFRESH YOUR MAKEUP COLLECTION</h4>
            <p>
              Does makeup expire? How to spot the signs of expired
              makeup in your makeup collection according to makeup
              expiry dates, product storage, and product type.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumb-wrapper">
          <div class="img-box">
            <img
              src="../../../../../assets/images/discover/img2.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="thumb-content">
            <h4>HOW TO REFRESH YOUR MAKEUP COLLECTION</h4>
            <p>
              Does makeup expire? How to spot the signs of expired
              makeup in your makeup collection according to makeup
              expiry dates, product storage, and product type.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumb-wrapper">
          <div class="img-box">
            <img
              src="../../../../../assets/images/discover/img2.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="thumb-content">
            <h4>HOW TO REFRESH YOUR MAKEUP COLLECTION</h4>
            <p>
              Does makeup expire? How to spot the signs of expired
              makeup in your makeup collection according to makeup
              expiry dates, product storage, and product type.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumb-wrapper">
          <div class="img-box">
            <img
              src="../../../../../assets/images/discover/img2.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="thumb-content">
            <h4>HOW TO REFRESH YOUR MAKEUP COLLECTION</h4>
            <p>
              Does makeup expire? How to spot the signs of expired
              makeup in your makeup collection according to makeup
              expiry dates, product storage, and product type.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="product_list" class="text-center dpink">
  <div class="container">
    <div class="title">
      <span>Eyes</span>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="thumb-wrapper">
          <div class="img-box">
            <img
              src="../../../../../assets/images/discover/img2.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="thumb-content">
            <h4>HOW TO REFRESH YOUR MAKEUP COLLECTION</h4>
            <p>
              Does makeup expire? How to spot the signs of expired
              makeup in your makeup collection according to makeup
              expiry dates, product storage, and product type.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumb-wrapper">
          <div class="img-box">
            <img
              src="../../../../../assets/images/discover/img2.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="thumb-content">
            <h4>HOW TO REFRESH YOUR MAKEUP COLLECTION</h4>
            <p>
              Does makeup expire? How to spot the signs of expired
              makeup in your makeup collection according to makeup
              expiry dates, product storage, and product type.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumb-wrapper">
          <div class="img-box">
            <img
              src="../../../../../assets/images/discover/img2.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="thumb-content">
            <h4>HOW TO REFRESH YOUR MAKEUP COLLECTION</h4>
            <p>
              Does makeup expire? How to spot the signs of expired
              makeup in your makeup collection according to makeup
              expiry dates, product storage, and product type.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumb-wrapper">
          <div class="img-box">
            <img
              src="../../../../../assets/images/discover/img2.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="thumb-content">
            <h4>HOW TO REFRESH YOUR MAKEUP COLLECTION</h4>
            <p>
              Does makeup expire? How to spot the signs of expired
              makeup in your makeup collection according to makeup
              expiry dates, product storage, and product type.
            </p>
          </div>
        </div>
      </div>
    </div>>
  </div>
</section>
<section id="product_list" class="text-center dpink">
  <div class="container">
    <div class="title">
      <span>Lips</span>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="thumb-wrapper">
          <div class="img-box">
            <img
              src="../../../../../assets/images/discover/img2.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="thumb-content">
            <h4>HOW TO REFRESH YOUR MAKEUP COLLECTION</h4>
            <p>
              Does makeup expire? How to spot the signs of expired
              makeup in your makeup collection according to makeup
              expiry dates, product storage, and product type.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumb-wrapper">
          <div class="img-box">
            <img
              src="../../../../../assets/images/discover/img2.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="thumb-content">
            <h4>HOW TO REFRESH YOUR MAKEUP COLLECTION</h4>
            <p>
              Does makeup expire? How to spot the signs of expired
              makeup in your makeup collection according to makeup
              expiry dates, product storage, and product type.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumb-wrapper">
          <div class="img-box">
            <img
              src="../../../../../assets/images/discover/img2.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="thumb-content">
            <h4>HOW TO REFRESH YOUR MAKEUP COLLECTION</h4>
            <p>
              Does makeup expire? How to spot the signs of expired
              makeup in your makeup collection according to makeup
              expiry dates, product storage, and product type.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumb-wrapper">
          <div class="img-box">
            <img
              src="../../../../../assets/images/discover/img2.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="thumb-content">
            <h4>HOW TO REFRESH YOUR MAKEUP COLLECTION</h4>
            <p>
              Does makeup expire? How to spot the signs of expired
              makeup in your makeup collection according to makeup
              expiry dates, product storage, and product type.
            </p>
          </div>
        </div>
      </div>
    </div>>
  </div>
</section>
<section id="product_list" class="text-center dpink">
  <div class="container">
    <div class="title">
      <span>Other Topics</span>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="thumb-wrapper">
          <div class="img-box">
            <img
              src="../../../../../assets/images/discover/img2.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="thumb-content">
            <h4>HOW TO REFRESH YOUR MAKEUP COLLECTION</h4>
            <p>
              Does makeup expire? How to spot the signs of expired
              makeup in your makeup collection according to makeup
              expiry dates, product storage, and product type.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumb-wrapper">
          <div class="img-box">
            <img
              src="../../../../../assets/images/discover/img2.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="thumb-content">
            <h4>HOW TO REFRESH YOUR MAKEUP COLLECTION</h4>
            <p>
              Does makeup expire? How to spot the signs of expired
              makeup in your makeup collection according to makeup
              expiry dates, product storage, and product type.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumb-wrapper">
          <div class="img-box">
            <img
              src="../../../../../assets/images/discover/img2.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="thumb-content">
            <h4>HOW TO REFRESH YOUR MAKEUP COLLECTION</h4>
            <p>
              Does makeup expire? How to spot the signs of expired
              makeup in your makeup collection according to makeup
              expiry dates, product storage, and product type.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumb-wrapper">
          <div class="img-box">
            <img
              src="../../../../../assets/images/discover/img2.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="thumb-content">
            <h4>HOW TO REFRESH YOUR MAKEUP COLLECTION</h4>
            <p>
              Does makeup expire? How to spot the signs of expired
              makeup in your makeup collection according to makeup
              expiry dates, product storage, and product type.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
