<div id="cover-spin"></div>
<section id="breadcum" class="mb-2">
  <div class="container">
    HOME <i class="fa fa-angle-right"></i>My Account
    <i class="fa fa-angle-right"></i>My Orders
  </div>
</section>
<div class="container">
  <div class="my-aacount-bg">
    <h4>My Account</h4>
  </div>
  <div class="row">
    <div class="col-md-3">
      <ul class="nav my-order-sidebar nav-pills flex-column pb-3" id="menu">
        <h5 class="pt-4 order-head">My Orders</h5>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg1.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">All (150)</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg2.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Pending (150)</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg3.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Processing (150)</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg4.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Delivered (150)</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg5.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Delivered (150)</span>
          </a>
        </li>
        <h5 class="pt-3">Personal Information</h5>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg6.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Personal Details</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg7.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Delivery Details</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg8.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">My Wishlist</span>
          </a>
        </li>
        <h5 class="pt-3">My Assets</h5>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg9.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">My Coupons</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg10.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">My Wallet</span>
          </a>
        </li>
        <h5 class="pt-3">Get in Touch</h5>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg11.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Contact Us</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <h4 class="pt-3">Personal Details</h4>
      <div class="mb-3 pt-3 row">
        <label for="fname" class="col-sm-3 col-form-label personal-head"
          >First Name:</label
        >
        <div class="col-sm-6">
          <input type="text" class="form-control" id="fname" />
        </div>
      </div>
      <div class="mb-3 pt-3 row">
        <label for="lname" class="col-sm-3 col-form-label personal-head"
          >Last Name:</label
        >
        <div class="col-sm-6">
          <input type="text" class="form-control" id="lname" />
        </div>
      </div>
      <div class="mb-3 pt-3 row">
        <label for="email" class="col-sm-3 col-form-label personal-head"
          >Email Address:</label
        >
        <div class="col-sm-6">
          <input type="email" class="form-control" id="email" />
        </div>
        <div class="col-sm-3">
          <h6>Change Email Address</h6>
        </div>
      </div>
      <div class="mb-3 pt-3 row">
        <label for="phoneno" class="col-sm-3 col-form-label personal-head"
          >Phone Number:</label
        >
        <div class="col-sm-6">
          <input type="number" class="form-control" id="phoneno" />
        </div>
      </div>
      <div class="mb-3 pt-3 row">
        <label for="phoneno" class="col-sm-3 col-form-label personal-head"
          >Date Of Birth:</label
        >
        <div class="col-sm-1">
          <div class="dropdown date-dropdown">
            <a
              class="btn dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              1
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li class="dropdown-item">2</li>
              <li class="dropdown-item">3</li>
              <li class="dropdown-item">4</li>
              <li class="dropdown-item">5</li>
              <li class="dropdown-item">6</li>
              <li class="dropdown-item">7</li>
              <li class="dropdown-item">8</li>
              <li class="dropdown-item">9</li>
              <li class="dropdown-item">10</li>
              <li class="dropdown-item">11</li>
              <li class="dropdown-item">12</li>
              <li class="dropdown-item">13</li>
              <li class="dropdown-item">14</li>
              <li class="dropdown-item">15</li>
              <li class="dropdown-item">16</li>
              <li class="dropdown-item">17</li>
              <li class="dropdown-item">18</li>
              <li class="dropdown-item">19</li>
              <li class="dropdown-item">20</li>
              <li class="dropdown-item">21</li>
              <li class="dropdown-item">22</li>
              <li class="dropdown-item">23</li>
              <li class="dropdown-item">24</li>
              <li class="dropdown-item">25</li>
              <li class="dropdown-item">26</li>
              <li class="dropdown-item">27</li>
              <li class="dropdown-item">28</li>
              <li class="dropdown-item">29</li>
              <li class="dropdown-item">30</li>
              <li class="dropdown-item">31</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="dropdown date-dropdown">
            <a
              class="btn dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              January
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li class="dropdown-item">February</li>
              <li class="dropdown-item">March</li>
              <li class="dropdown-item">April</li>
              <li class="dropdown-item">May</li>
              <li class="dropdown-item">June</li>
              <li class="dropdown-item">July</li>
              <li class="dropdown-item">August</li>
              <li class="dropdown-item">September</li>
              <li class="dropdown-item">October</li>
              <li class="dropdown-item">November</li>
              <li class="dropdown-item">December</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="dropdown date-dropdown">
            <a
              class="btn dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Monday
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li class="dropdown-item">Tuesday</li>
              <li class="dropdown-item">Wednesday</li>
              <li class="dropdown-item">Thursday</li>
              <li class="dropdown-item">Friday</li>
              <li class="dropdown-item">Saturday</li>
              <li class="dropdown-item">Sunday</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mb-3 pt-3 row">
        <label for="gender" class="col-sm-3 col-form-label personal-head"
          >Gender:</label
        >
        <div class="col-sm-2">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault1"
            />
            <label class="form-check-label personal-head" for="flexRadioDefault1">
              Male
            </label>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault1"
            />
            <label class="form-check-label personal-head" for="flexRadioDefault1">
              Female
            </label>
          </div>
        </div>
      </div>
      <div class="mb-3 pt-3 row">
        <label for="username" class="col-sm-3 col-form-label personal-head"
          >USERNAME:</label
        >
        <div class="col-sm-6">
          <input type="text" class="form-control" id="username" />
        </div>
      </div>
      <div class="mb-3 pt-3 row">
        <label for="inputPassword" class="col-sm-3 col-form-label personal-head"
          >PASSWORD:</label
        >
        <div class="col-sm-6">
          <input type="password" class="form-control" id="inputPassword" />
        </div>
        <div class="col-sm-3">
          <h6>Change Password</h6>
        </div>
      </div>
      <div class="pesonal-info-btn">
        <button type="button" class="btn">Save Changes</button>
      </div>
    </div>
  </div>
</div>
