<div id="invoice" class="container">
  <div class="invoice">
    <div class="row">
      <div class="col-md-6">
        <img
          class="img-fluid"
          src="../../../../../assets/images/logo.png"
          data-holder-rendered="true"
        />
      </div>
      <div class="col-md-6">
        <div class="company-details">
          <h5>Bhumi Stores Limited</h5>
          <h5>Gallant Mall, Parklands Road, Nairobi, Kenya.</h5>
          <h6>Contact Number : 0717858585</h6>
        </div>
      </div>
      <div class="row invoice-slip">
        <h3>Invoice Slip</h3>
        <div class="col-md-6 pt-5">
          <div class="customer-details">
            <h6>Customer Details</h6>
            <h6>Wanjugu Muhindi</h6>
            <h6>Sri Aurobindho Avenue, House 20 Nairobi</h6>
          </div>
        </div>
        <div class="col-md-6 pt-5">
          <div class="customer-order">
            <h6>Invoice Number: <span></span></h6>
            <h6>Invoice Date: <span></span></h6>
            <h6>Order Number: <span></span></h6>
            <h6>Order Date:  <span></span></h6>
          </div>
        </div>
      </div>
    </div>
    <table class="table mt-5">
        <thead class="bg-invoice">
          <tr>
            <th scope="col"></th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Iphone 12-128GB Blue</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>Iphone 12-128GB Blue</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
