
<div id="cover-spin"></div>
<section id="breadcum" class="mb-2">
  <div class="container">
    HOME <i class="fa fa-angle-right"></i>My Account
    <i class="fa fa-angle-right"></i>My Wishlist
  </div>
</section>
<div class="container">
  <div class="my-aacount-bg">
    <h4>My Account</h4>
  </div>
  <div class="row">
    <div class="col-md-3">
      <ul class="nav my-order-sidebar nav-pills flex-column pb-3" id="menu">
        <h5 class="pt-4 order-head">My Orders</h5>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg1.svg" alt="Chitchat" />
            <span class="ms-3 my-account-password">All (150)</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg2.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Pending (150)</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg3.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Processing (150)</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg4.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Delivered (150)</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg5.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Delivered (150)</span>
          </a>
        </li>
        <h5 class="pt-3">Personal Information</h5>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg6.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Personal Details</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg7.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Delivery Details</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg8.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">My Wishlist</span>
          </a>
        </li>
        <h5 class="pt-3">My Assets</h5>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg9.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">My Coupons</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg10.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">My Wallet</span>
          </a>
        </li>
        <h5 class="pt-3">Get in Touch</h5>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg11.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Contact Us</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <p class="personal-title">Contact Us</p>
      <div class="row">
        <div class="col-md-6 pt-3">
            <div class="row contact-box">
                <div class="col-md-3 live-chat-block">
                   <div class="live-chat">
                      <img class="img-fluid" src="../../../../../../assets/images/lifestyle/msg.svg" alt="">
                   </div>
                </div>
                <div class="col-md-9">
                   <div class="live-chat-head">
                    <h4>Live Chat</h4>
                    <p> Chat with our customer care team directly on our website</p>
                   </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 pt-3">
            <div class="row contact-box">
                <div class="col-md-3 live-chat-block">
                   <div class="live-chat">
                      <img class="img-fluid" src="../../../../../../assets/images/lifestyle/msg.svg" alt="">
                   </div>
                </div>
                <div class="col-md-9">
                   <div class="live-chat-head">
                    <h4>Live Chat</h4>
                    <p> Chat with our customer care team directly on our website</p>
                   </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 pt-5">
            <div class="row contact-box">
                <div class="col-md-3 live-chat-block">
                   <div class="live-chat">
                      <img class="img-fluid" src="../../../../../../assets/images/lifestyle/msg.svg" alt="">
                   </div>
                </div>
                <div class="col-md-9">
                   <div class="live-chat-head">
                    <h4>Live Chat</h4>
                    <p> Chat with our customer care team directly on our website</p>
                   </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 pt-5">
            <div class="row contact-box">
                <div class="col-md-3 live-chat-block">
                   <div class="live-chat">
                      <img class="img-fluid" src="../../../../../../assets/images/lifestyle/msg.svg" alt="">
                   </div>
                </div>
                <div class="col-md-9">
                   <div class="live-chat-head">
                    <h4>Live Chat</h4>
                    <p> Chat with our customer care team directly on our website</p>
                   </div>
                </div>
            </div>
        </div>

        <div class="contact-email">
            <h6>Email Us</h6>
            <p>Please ﬁll the form below</p>
        </div>

        <div class="mb-3 pt-3 row">
            <label for="fname" class="col-sm-3 col-form-label personal-head"
              >First Name:</label
            >
            <div class="col-sm-7">
              <input type="text" class="form-control" id="fname" />
            </div>
          </div>
          <div class="mb-3 pt-3 row">
            <label for="lname" class="col-sm-3 col-form-label personal-head"
              >Last Name:</label
            >
            <div class="col-sm-7">
              <input type="text" class="form-control" id="lname" />
            </div>
          </div>
          <div class="mb-3 pt-3 row">
            <label for="email" class="col-sm-3 col-form-label personal-head"
              >Email Address:</label
            >
            <div class="col-sm-7">
              <input type="email" class="form-control" id="email" />
            </div>
          </div>
          <div class="mb-3 pt-3 row">
            <label for="phoneno" class="col-sm-3 col-form-label personal-head"
              >Phone Number:</label
            >
            <div class="col-sm-7">
              <input type="number" class="form-control" id="phoneno" />
            </div>
          </div>
          <div class="mb-3 pt-3 row">
            <label for="message" class="col-sm-3 col-form-label personal-head"
              >Message:</label
            >
            <div class="col-sm-7">
              <textarea type="text" placeholder="Insert message here" rows="7" class="form-control" id="email"></textarea>
            </div>
          </div>
      </div>
    <div class="pesonal-info-btn mt-4 pb-3">
      <button type="button" class="btn">SUBMIT</button>
    </div>
  </div>
</div>
