<!-- <div  class="modal fade text-center" id="login11" tabindex="-1" aria-labelledby="loginModalLabel" role="dialog">  
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-body">
              <div
                  class="row g-0 min-vh-100">
     
                  <div class="col-md-6">
                      <div class="hero-wrap d-flex align-items-center h-100">
                          <div class="hero-content w-100 min-vh-100 d-flex flex-column">
                              <div class="row g-0">
                                  <div class="col-10 col-lg-9 mx-auto">
                                      <div class="logo mt-5 mb-5 mb-md-0">
                                          <a class="d-flex" href="/" title="Oxyy"><img src="../../../../assets/images/footer-logo.png"></a>
                                      </div>
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>
              
                        <div class="col-md-6 d-flex">
                          <div class="container my-auto py-5">
                            <div class="row g-0">
                              <div class="col-10 col-lg-9 col-xl-8 mx-auto">
                                <h2 class="text-center mb-4"> Looks like You're in Kenya</h2>
                                <h5 class="text-center mb-4"><b>A few things to know:</b> </h5>
                                <h6 class="text-center mb-4">Prices and payment are shown i ksh.</h6>
                                <h6 class="text-center mb-4">international shipping costs are based on your items</h6>
                                <h6 class="text-center mb-4" style="color: #888;">Get more details or <a href="#"><b>contact us</b></a> if you have questions about international shipping. </h6>
                               
                                <form id="loginForm" method="post">
                                 
                                  
                                   <div class="d-grid my-4" >
                                    <button class="btn  py-2" style="width: 100%; background-color: #000000; color: #ffffff;"  type="submit">Change Country</button>
                                  </div>
                                  <div class="d-grid my-4">
                                    <button class="btn py-2" style="width: 100%; background-color: #000000; color: #ffffff;"  type="submit" (click)="king()">KING </button>
                                  </div>
                                  <div class="d-grid my-4">
                                    <button class="btn  py-2"style="width: 100%; background-color: #000000; color: #ffffff;"  type="submit" (click)="queen()">QUEEN</button>
                                  </div>   
                                  
                                </form>
                              
                                
                                
                              </div>
                              <div  style="position: absolute; bottom: 0; left: 364px;">
                                <img width="75%" src="../../../../assets/images/login_abstract.png">
                              </div>
                              
                            </div>
                          </div>
                        </div>
               
              </div>
          </div>

      </div>
  </div>
</div> -->
  
  
<div  class=" text-center" id="login" tabindex="-1"  >  
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-body">
              <div
                  class="row g-0 min-vh-100">
                  <!-- Welcome Text
                        ========================= -->
                  <div class="col-md-6">
                      <div class="hero-wrap d-flex align-items-center h-100">
                          <div class="hero-content w-100 min-vh-100 d-flex flex-column">
                              <div class="row g-0">
                                  <div class="col-10 col-lg-9 mx-auto">
                                      <div class="logo mt-5 mb-5 mb-md-0">
                                          <a class="d-flex" href="/" title="Oxyy"><img src="../../../../assets/images/footer-logo.png"></a>
                                      </div>
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>
                  <!-- Welcome Text End -->

                  <!-- Login Form
                        ========================= -->
                        <div class="col-md-6 d-flex">
                          <div class="container my-auto py-5">
                            <div class="row g-0">
                              <div class="col-10 col-lg-9 col-xl-8 mx-auto">
                                <h2 class="text-center mb-4"> Looks like You're in Kenya</h2>
                                <h5 class="text-center mb-4"><b>A few things to know:</b> </h5>
                                <h6 class="text-center mb-4">Prices and payment are shown i ksh.</h6>
                                <h6 class="text-center mb-4">international shipping costs are based on your items</h6>
                                <h6 class="text-center mb-4" style="color: #888;">Get more details or <a href="#"><b>contact us</b></a> if you have questions about international shipping. </h6>
                               
                                <form id="loginForm" method="post">
                                 
                                  
                                   <div class="d-grid my-4" >
                                    <button class="btn  py-2" style="width: 100%; background-color: #000000; color: #ffffff;"  type="submit">Change Country</button>
                                  </div>
                                  <div class="d-grid my-4">
                                    <button class="btn py-2" style="width: 100%; background-color: #000000; color: #ffffff;"  type="submit" (click)="king()">KING </button>
                                  </div>
                                  <div class="d-grid my-4">
                                    <button class="btn  py-2"style="width: 100%; background-color: #000000; color: #ffffff;"  type="submit" (click)="queen()">QUEEN</button>
                                  </div>   
                                  
                                </form>
                                <div  style="position: absolute; bottom: 0; left: 364px;">
                                  <img width="75%" src="../../../../assets/images/login_abstract.png">
                                </div>
                               
                               
                              </div>
                            
                              
                            </div>
                          </div>
                        </div>
                  <!-- Login Form End -->
              </div>
          </div>

      </div>
  </div>
  
  
  
  
  
  
  
  