<app-header-top></app-header-top>
<app-header></app-header>
<div id="cover-spin"></div>
<section id="breadcum" class="mb-2">
  <div class="container">HOME <i class="fa fa-angle-right"></i></div>
</section>
<section id="product-page-header">
  <div class="container">
    <img
      class="img-fluid"
      src="../../../../../assets/images/lifestyle/tv_banner.png"
    />
    <div class="row">
      <div class="col-md-12">
          <owl-carousel [options]="SlideOptions" [carouselClasses]="['owl-theme', 'sliding']">
              <div class="item" *ngFor="let img of Images">
                  <div style="align-content: center">
                      <img style="height: 260px;width:100%" src={{Images}} />

                  </div>
              </div>
          </owl-carousel>
          
      </div>
    </div>
    <div class="product-page-header-inner">
      <div class="row">
        <div class="col-md-6">
          <div class="row lifestyle-tv">
            <div class="col-md-6">
              <div class="lifestyle-title">
                <h6>TV/Audio/Visual</h6>
              </div>
            </div>
            <div class="col-md-6">
              <div class="lifestyle-seeall">
                <h6>See All</h6>
              </div>
            </div>
            <div class="col-md-4">
              <div class="lifestyle-product-img">
                <img
                  class="img-fluid"
                  src="../../../../../assets/images/lifestyle/tv.png"
                />
              </div>
              <div class="lifestyle-product-description">
                <h6>Lorem ipsum dolor sit</h6>
                <h5>KSh 1,000.00</h5>
                <h6>KSh 1,000.00</h6>
              </div>
            </div>
            <div class="col-md-4">
              <div class="lifestyle-product-img">
                <img
                  class="img-fluid"
                  src="../../../../../assets/images/lifestyle/home.png"
                />
              </div>
              <div class="lifestyle-product-description">
                <h6>Lorem ipsum dolor sit</h6>
                <h5>KSh 1,000.00</h5>
                <h6>KSh 1,000.00</h6>
              </div>
            </div>
            <div class="col-md-4">
              <div class="lifestyle-product-img">
                <img
                  class="img-fluid"
                  src="../../../../../assets/images/lifestyle/speaker.png"
                />
              </div>
              <div class="lifestyle-product-description">
                <h6>Lorem ipsum dolor sit</h6>
                <h5>KSh 1,000.00</h5>
                <h6>KSh 1,000.00</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row lifestyle-tv">
            <div class="col-md-6">
              <div class="lifestyle-title">
                <h6>Cooking & Dinning</h6>
              </div>
            </div>
            <div class="col-md-6">
              <div class="lifestyle-seeall">
                <h6>See All</h6>
              </div>
            </div>
            <div class="col-md-4">
              <div class="lifestyle-product-img">
                <img
                  class="img-fluid"
                  src="../../../../../assets/images/lifestyle/gas.png"
                />
              </div>
              <div class="lifestyle-product-description">
                <h6>Lorem ipsum dolor sit</h6>
                <h5>KSh 1,000.00</h5>
                <h6>KSh 1,000.00</h6>
              </div>
            </div>
            <div class="col-md-4">
              <div class="lifestyle-product-img">
                <img
                  class="img-fluid"
                  src="../../../../../assets/images/lifestyle/hotport.png"
                />
              </div>
              <div class="lifestyle-product-description">
                <h6>Lorem ipsum dolor sit</h6>
                <h5>KSh 1,000.00</h5>
                <h6>KSh 1,000.00</h6>
              </div>
            </div>
            <div class="col-md-4">
              <div class="lifestyle-product-img">
                <img
                  class="img-fluid"
                  src="../../../../../assets/images/lifestyle/cooker.png"
                />
              </div>
              <div class="lifestyle-product-description">
                <h6>Lorem ipsum dolor sit</h6>
                <h5>KSh 1,000.00</h5>
                <h6>KSh 1,000.00</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row lifestyle-tv home-product">
        <div class="col-md-6">
          <div class="lifestyle-title">
            <h6>Just for you</h6>
          </div>
        </div>
        <div class="col-md-6">
          <div class="lifestyle-seeall">
            <h6>See All</h6>
          </div>
        </div>
        <div class="col-md-2">
          <div class="lifestyle-product-img">
            <img
              class="img-fluid"
              src="../../../../../assets/images/lifestyle/img6.png"
            />
          </div>
          <div class="lifestyle-product-description">
            <h6>Lorem ipsum dolor sit</h6>
            <h5>KSh 1,000.00</h5>
            <h6>KSh 1,000.00</h6>
          </div>
        </div>
        <div class="col-md-2">
          <div class="lifestyle-product-img">
            <img
              class="img-fluid"
              src="../../../../../assets/images/lifestyle/img7.png"
            />
          </div>
          <div class="lifestyle-product-description">
            <h6>Lorem ipsum dolor sit</h6>
            <h5>KSh 1,000.00</h5>
            <h6>KSh 1,000.00</h6>
          </div>
        </div>
        <div class="col-md-2">
          <div class="lifestyle-product-img">
            <img
              class="img-fluid"
              src="../../../../../assets/images/lifestyle/img8.png"
            />
          </div>
          <div class="lifestyle-product-description">
            <h6>Lorem ipsum dolor sit</h6>
            <h5>KSh 1,000.00</h5>
            <h6>KSh 1,000.00</h6>
          </div>
        </div>
        <div class="col-md-2">
          <div class="lifestyle-product-img">
            <img
              class="img-fluid"
              src="../../../../../assets/images/lifestyle/img9.png"
            />
          </div>
          <div class="lifestyle-product-description">
            <h6>Lorem ipsum dolor sit</h6>
            <h5>KSh 1,000.00</h5>
            <h6>KSh 1,000.00</h6>
          </div>
        </div>
        <div class="col-md-2">
          <div class="lifestyle-product-img">
            <img
              class="img-fluid"
              src="../../../../../assets/images/lifestyle/img10.png"
            />
          </div>
          <div class="lifestyle-product-description">
            <h6>Lorem ipsum dolor sit</h6>
            <h5>KSh 1,000.00</h5>
            <h6>KSh 1,000.00</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="product-listing-outer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="filter-sidebar">
          <h2>Filter By</h2>
          <div class="filter-wrap">
            <h3>Category <i class="fa fa-search"></i></h3>
            <!-- <input
              type="text"
              class="form-control"
              placeholder="Search Category"
            /> -->
            <ul>
              <div class="text-danger"></div>
              <li>
                <input type="checkbox" />
                TV/Audio/Visual
                <a><span class="pro-count">(33)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                DVD Players Recorder
                <a><span class="pro-count">(11)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                Home Theatres
                <a><span class="pro-count">(22)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                Outdoor Speaker
                <a><span class="pro-count">(44)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                Headphones
                <a><span class="pro-count">(55)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                Buds & Earphones
                <a><span class="pro-count">(66)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                Converters
                <a><span class="pro-count">(77)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                BluRay Players
                <a><span class="pro-count">(88)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                Speaker Systems
                <a><span class="pro-count">(99)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                BT Speakers
                <a><span class="pro-count">(21)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                Sound Bars
                <a><span class="pro-count">(31)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                Woofer Systems
                <a><span class="pro-count">(41)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                Electronic Accessories
                <a><span class="pro-count">(61)</span></a>
              </li>
            </ul>
          </div>
          <div class="filter-wrap">
            <h3>Brand <i class="fa fa-search"></i></h3>
            <!-- <div class="text-danger">{{msg_brand}} </div>   -->
            <!-- <input
              type="text"
              class="form-control"
              placeholder="Search Brand"
            /> -->
            <ul>
              <!-- <li *ngFor="let cat of category" [ngClass]="{'highlight': selectedIndex === cat.id}"><a (click)="cat.count > 0 && selectCategory(cat.id)">{{cat.name}} <span class="pro-count">({{cat.count}})</span></a></li> -->
              <li>
                <input type="checkbox" />
                Samsung
                <a><span class="pro-count">(33)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                Hisense
                <a><span class="pro-count">(11)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                Vitron
                <a><span class="pro-count">(22)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                LG
                <a><span class="pro-count">(44)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                Sony
                <a><span class="pro-count">(55)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                Vision Plus
                <a><span class="pro-count">(66)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                VSON
                <a><span class="pro-count">(77)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                Ampex
                <a><span class="pro-count">(88)</span></a>
              </li>
            </ul>
          </div>
          <div class="filter-wrap">
            <h3>Price <i class="fa fa-search"></i></h3>
            <ul>
              <li>
                <input type="checkbox" />
                1-250
                <a><span class="pro-count">(33)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                250-500
                <a><span class="pro-count">(11)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                500-1,000
                <a><span class="pro-count">(22)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                1,000-2,500
                <a><span class="pro-count">(44)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                2,500-5,000
                <a><span class="pro-count">(55)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                5,000-7,500
                <a><span class="pro-count">(66)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                7,500-10,000
                <a><span class="pro-count">(77)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                Above 10,0000
                <a><span class="pro-count">(88)</span></a>
              </li>
            </ul>
          </div>
          <div class="filter-wrap">
            <h3>Discount</h3>
            <ul>
              <li>
                <a> <span class="pro-count"></span></a>
              </li>
              <li>
                <a href="#">
                  <input type="checkbox" /> 50% & Above
                  <span class="pro-count">(33)</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><input type="checkbox" /> 40% & Above
                  <span class="pro-count">(11)</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><input type="checkbox" /> 30% & Above
                  <span class="pro-count">(22)</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><input type="checkbox" /> 20% & Above
                  <span class="pro-count">(44)</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><input type="checkbox" /> 10% & Above
                  <span class="pro-count">(55)</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><input type="checkbox" /> 5% & Above<span class="pro-count"
                    >(66)</span
                  ></a
                >
              </li>
              <li>
                <a href="#"
                  ><input type="checkbox" /> Upto 5%<span class="pro-count"
                    >(77)</span
                  ></a
                >
              </li>
            </ul>
          </div>
          <div class="filter-wrap">
            <h3>Colour</h3>
            <ul>
              <li>
                <input type="checkbox" />
                Black
                <a><span class="pro-count">(33)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                Silver
                <a><span class="pro-count">(11)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                White
                <a><span class="pro-count">(22)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                Blege
                <a><span class="pro-count">(44)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                Gold
                <a><span class="pro-count">(55)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                Peach
                <a><span class="pro-count">(66)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                Blue
                <a><span class="pro-count">(77)</span></a>
              </li>
            </ul>
          </div>
          <div class="filter-wrap">
            <h3>Display Size</h3>
            <ul>
              <li>
                <input type="checkbox" />
                0.0
                <a><span class="pro-count">(33)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                0.6
                <a><span class="pro-count">(11)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                1
                <a><span class="pro-count">(22)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                1.0
                <a><span class="pro-count">(44)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                1.1
                <a><span class="pro-count">(55)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                1.2
                <a><span class="pro-count">(66)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                1.3
                <a><span class="pro-count">(77)</span></a>
              </li>
            </ul>
          </div>
          <div class="filter-wrap">
            <h3>Megapixels</h3>
            <ul>
              <li>
                <input type="checkbox" />
                0.0
                <a><span class="pro-count">(33)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                0.6
                <a><span class="pro-count">(11)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                1
                <a><span class="pro-count">(22)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                1.0
                <a><span class="pro-count">(44)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                1.1
                <a><span class="pro-count">(55)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                1.2
                <a><span class="pro-count">(66)</span></a>
              </li>
              <li>
                <input type="checkbox" />
                1.3
                <a><span class="pro-count">(77)</span></a>
              </li>
            </ul>
          </div>
          <div class="filter-wrap">
            <h3>Operating System</h3>
            <ul>
              <li>
                <input type="checkbox" />
                Android
              </li>
              <li>
                <input type="checkbox" />
                iOS
              </li>
              <li>
                <input type="checkbox" />
                Linux
              </li>
              <li>
                <input type="checkbox" />
                No OS
              </li>
              <li>
                <input type="checkbox" />
                Other
              </li>
              <li>
                <input type="checkbox" />
                Windows
              </li>
              <li>
                <input type="checkbox" />
                Windows 7
              </li>
            </ul>
          </div>
          <div class="filter-wrap">
            <h3>Shipped From</h3>
            <ul>
              <li>
                <input type="checkbox" />
                Shipped From Kenya
              </li>
              <li>
                <input type="checkbox" />
                Shipped From Abroad
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <div class="row product-found mb-2">
          <div class="col-md-6"><h5>TV/Audio/Visual</h5></div>
          <div class="col-md-6 text-right">
            <div id="sorting">
              <span class="text-muted">Sort by</span>
              <select name="sort" id="sort">
                <option value="popularity"><b>Popularity</b></option>
                <option value="prcie"><b>Price</b></option>
                <option value="rating"><b>Rating</b></option>
              </select>
            </div>
          </div>
        </div>
        <div class="product-found pl-3">33333 products found</div>
        <div class="product-listing-lifestyle">
          <div
            class="text-danger text-center"
            style="font-size: xx-large"
          ></div>
          <div class="row pt-2">
            <div class="col-md-3">
              <div class="product_list_inner">
                <div class="pro_img">
                  <img src="../../../../../assets/images/lifestyle/img11.png" />
                  <!-- <span class="sold-box"></span> -->
                </div>
                <h5>
                  PRODUCT NAME <br />
                  PRODUCT DESCRIPTION <br />
                  RANGE NO <br />
                  CAPACITY/QUANTITY <br />
                  KSh1,999.00 <br />
                  KSH 3,000.00
                </h5>
                <a class="btn">ADD TO CART </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product_list_inner">
                <div class="pro_img">
                  <img src="../../../../../assets/images/lifestyle/img11.png" />
                  <!-- <span class="sold-box"></span> -->
                </div>
                <h5>
                  PRODUCT NAME <br />
                  PRODUCT DESCRIPTION <br />
                  RANGE NO <br />
                  CAPACITY/QUANTITY <br />
                  KSh1,999.00 <br />
                  KSH 3,000.00
                </h5>
                <a class="btn">ADD TO CART </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product_list_inner">
                <div class="pro_img">
                  <img src="../../../../../assets/images/lifestyle/img11.png" />
                  <!-- <span class="sold-box"></span> -->
                </div>
                <h5>
                  PRODUCT NAME <br />
                  PRODUCT DESCRIPTION <br />
                  RANGE NO <br />
                  CAPACITY/QUANTITY <br />
                  KSh1,999.00 <br />
                  KSH 3,000.00
                </h5>
                <a class="btn">ADD TO CART </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product_list_inner">
                <div class="pro_img">
                  <img src="../../../../../assets/images/lifestyle/img11.png" />
                  <!-- <span class="sold-box"></span> -->
                </div>
                <h5>
                  PRODUCT NAME <br />
                  PRODUCT DESCRIPTION <br />
                  RANGE NO <br />
                  CAPACITY/QUANTITY <br />
                  KSh1,999.00 <br />
                  KSH 3,000.00
                </h5>
                <a class="btn">ADD TO CART </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product_list_inner">
                <div class="pro_img">
                  <img src="../../../../../assets/images/lifestyle/img12.png" />
                  <!-- <span class="sold-box"></span> -->
                </div>
                <h5>
                  PRODUCT NAME <br />
                  PRODUCT DESCRIPTION <br />
                  RANGE NO <br />
                  CAPACITY/QUANTITY <br />
                  KSh1,999.00 <br />
                  KSH 3,000.00
                </h5>
                <a class="btn">ADD TO CART </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product_list_inner">
                <div class="pro_img">
                  <img src="../../../../../assets/images/lifestyle/img14.png" />
                  <!-- <span class="sold-box"></span> -->
                </div>
                <h5>
                  PRODUCT NAME <br />
                  PRODUCT DESCRIPTION <br />
                  RANGE NO <br />
                  CAPACITY/QUANTITY <br />
                  KSh1,999.00 <br />
                  KSH 3,000.00
                </h5>
                <a class="btn">ADD TO CART </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product_list_inner">
                <div class="pro_img">
                  <img src="../../../../../assets/images/lifestyle/img11.png" />
                  <!-- <span class="sold-box"></span> -->
                </div>
                <h5>
                  PRODUCT NAME <br />
                  PRODUCT DESCRIPTION <br />
                  RANGE NO <br />
                  CAPACITY/QUANTITY <br />
                  KSh1,999.00 <br />
                  KSH 3,000.00
                </h5>
                <a class="btn">ADD TO CART </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product_list_inner">
                <div class="pro_img">
                  <img src="../../../../../assets/images/lifestyle/img11.png" />
                  <!-- <span class="sold-box"></span> -->
                </div>
                <h5>
                  PRODUCT NAME <br />
                  PRODUCT DESCRIPTION <br />
                  RANGE NO <br />
                  CAPACITY/QUANTITY <br />
                  KSh1,999.00 <br />
                  KSH 3,000.00
                </h5>
                <a class="btn">ADD TO CART </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product_list_inner">
                <div class="pro_img">
                  <img src="../../../../../assets/images/lifestyle/img11.png" />
                  <!-- <span class="sold-box"></span> -->
                </div>
                <h5>
                  PRODUCT NAME <br />
                  PRODUCT DESCRIPTION <br />
                  RANGE NO <br />
                  CAPACITY/QUANTITY <br />
                  KSh1,999.00 <br />
                  KSH 3,000.00
                </h5>
                <a class="btn">ADD TO CART </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product_list_inner">
                <div class="pro_img">
                  <img src="../../../../../assets/images/lifestyle/img11.png" />
                  <!-- <span class="sold-box"></span> -->
                </div>
                <h5>
                  PRODUCT NAME <br />
                  PRODUCT DESCRIPTION <br />
                  RANGE NO <br />
                  CAPACITY/QUANTITY <br />
                  KSh1,999.00 <br />
                  KSH 3,000.00
                </h5>
                <a class="btn">ADD TO CART </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product_list_inner">
                <div class="pro_img">
                  <img src="../../../../../assets/images/lifestyle/img11.png" />
                  <!-- <span class="sold-box"></span> -->
                </div>
                <h5>
                  PRODUCT NAME <br />
                  PRODUCT DESCRIPTION <br />
                  RANGE NO <br />
                  CAPACITY/QUANTITY <br />
                  KSh1,999.00 <br />
                  KSH 3,000.00
                </h5>
                <a class="btn">ADD TO CART </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product_list_inner">
                <div class="pro_img">
                  <img src="../../../../../assets/images/lifestyle/img11.png" />
                  <!-- <span class="sold-box"></span> -->
                </div>
                <h5>
                  PRODUCT NAME <br />
                  PRODUCT DESCRIPTION <br />
                  RANGE NO <br />
                  CAPACITY/QUANTITY <br />
                  KSh1,999.00 <br />
                  KSH 3,000.00
                </h5>
                <a class="btn">ADD TO CART </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product_list_inner">
                <div class="pro_img">
                  <img src="../../../../../assets/images/lifestyle/img11.png" />
                  <!-- <span class="sold-box"></span> -->
                </div>
                <h5>
                  PRODUCT NAME <br />
                  PRODUCT DESCRIPTION <br />
                  RANGE NO <br />
                  CAPACITY/QUANTITY <br />
                  KSh1,999.00 <br />
                  KSH 3,000.00
                </h5>
                <a class="btn">ADD TO CART </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product_list_inner">
                <div class="pro_img">
                  <img src="../../../../../assets/images/lifestyle/img11.png" />
                  <!-- <span class="sold-box"></span> -->
                </div>
                <h5>
                  PRODUCT NAME <br />
                  PRODUCT DESCRIPTION <br />
                  RANGE NO <br />
                  CAPACITY/QUANTITY <br />
                  KSh1,999.00 <br />
                  KSH 3,000.00
                </h5>
                <a class="btn">ADD TO CART </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product_list_inner">
                <div class="pro_img">
                  <img src="../../../../../assets/images/lifestyle/img11.png" />
                  <!-- <span class="sold-box"></span> -->
                </div>
                <h5>
                  PRODUCT NAME <br />
                  PRODUCT DESCRIPTION <br />
                  RANGE NO <br />
                  CAPACITY/QUANTITY <br />
                  KSh1,999.00 <br />
                  KSH 3,000.00
                </h5>
                <a class="btn">ADD TO CART </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product_list_inner">
                <div class="pro_img">
                  <img src="../../../../../assets/images/lifestyle/img11.png" />
                  <!-- <span class="sold-box"></span> -->
                </div>
                <h5>
                  PRODUCT NAME <br />
                  PRODUCT DESCRIPTION <br />
                  RANGE NO <br />
                  CAPACITY/QUANTITY <br />
                  KSh1,999.00 <br />
                  KSH 3,000.00
                </h5>
                <a class="btn">ADD TO CART </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product_list_inner">
                <div class="pro_img">
                  <img src="../../../../../assets/images/lifestyle/img11.png" />
                  <!-- <span class="sold-box"></span> -->
                </div>
                <h5>
                  PRODUCT NAME <br />
                  PRODUCT DESCRIPTION <br />
                  RANGE NO <br />
                  CAPACITY/QUANTITY <br />
                  KSh1,999.00 <br />
                  KSH 3,000.00
                </h5>
                <a class="btn">ADD TO CART </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product_list_inner">
                <div class="pro_img">
                  <img src="../../../../../assets/images/lifestyle/img11.png" />
                  <!-- <span class="sold-box"></span> -->
                </div>
                <h5>
                  PRODUCT NAME <br />
                  PRODUCT DESCRIPTION <br />
                  RANGE NO <br />
                  CAPACITY/QUANTITY <br />
                  KSh1,999.00 <br />
                  KSH 3,000.00
                </h5>
                <a class="btn">ADD TO CART </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product_list_inner">
                <div class="pro_img">
                  <img src="../../../../../assets/images/lifestyle/img11.png" />
                  <!-- <span class="sold-box"></span> -->
                </div>
                <h5>
                  PRODUCT NAME <br />
                  PRODUCT DESCRIPTION <br />
                  RANGE NO <br />
                  CAPACITY/QUANTITY <br />
                  KSh1,999.00 <br />
                  KSH 3,000.00
                </h5>
                <a class="btn">ADD TO CART </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product_list_inner">
                <div class="pro_img">
                  <img src="../../../../../assets/images/lifestyle/img11.png" />
                  <!-- <span class="sold-box"></span> -->
                </div>
                <h5>
                  PRODUCT NAME <br />
                  PRODUCT DESCRIPTION <br />
                  RANGE NO <br />
                  CAPACITY/QUANTITY <br />
                  KSh1,999.00 <br />
                  KSH 3,000.00
                </h5>
                <a class="btn">ADD TO CART </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product_list_inner">
                <div class="pro_img">
                  <img src="../../../../../assets/images/lifestyle/img11.png" />
                  <!-- <span class="sold-box"></span> -->
                </div>
                <h5>
                  PRODUCT NAME <br />
                  PRODUCT DESCRIPTION <br />
                  RANGE NO <br />
                  CAPACITY/QUANTITY <br />
                  KSh1,999.00 <br />
                  KSH 3,000.00
                </h5>
                <a class="btn">ADD TO CART </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product_list_inner">
                <div class="pro_img">
                  <img src="../../../../../assets/images/lifestyle/img11.png" />
                  <!-- <span class="sold-box"></span> -->
                </div>
                <h5>
                  PRODUCT NAME <br />
                  PRODUCT DESCRIPTION <br />
                  RANGE NO <br />
                  CAPACITY/QUANTITY <br />
                  KSh1,999.00 <br />
                  KSH 3,000.00
                </h5>
                <a class="btn">ADD TO CART </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product_list_inner">
                <div class="pro_img">
                  <img src="../../../../../assets/images/lifestyle/img11.png" />
                  <!-- <span class="sold-box"></span> -->
                </div>
                <h5>
                  PRODUCT NAME <br />
                  PRODUCT DESCRIPTION <br />
                  RANGE NO <br />
                  CAPACITY/QUANTITY <br />
                  KSh1,999.00 <br />
                  KSH 3,000.00
                </h5>
                <a class="btn">ADD TO CART </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="product_list_inner">
                <div class="pro_img">
                  <img src="../../../../../assets/images/lifestyle/img11.png" />
                  <!-- <span class="sold-box"></span> -->
                </div>
                <h5>
                  PRODUCT NAME <br />
                  PRODUCT DESCRIPTION <br />
                  RANGE NO <br />
                  CAPACITY/QUANTITY <br />
                  KSh1,999.00 <br />
                  KSH 3,000.00
                </h5>
                <a class="btn">ADD TO CART </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
