<div id="cover-spin"></div>
<section id="breadcum" class="mb-2">
  <div class="container">
    HOME <i class="fa fa-angle-right"></i>My Account
    <i class="fa fa-angle-right"></i>My Wishlist
  </div>
</section>
<div class="container">
  <div class="my-aacount-bg">
    <h4>My Account</h4>
  </div>
  <div class="row">
    <div class="col-md-3">
      <ul class="nav my-order-sidebar nav-pills flex-column pb-3" id="menu">
        <h5 class="pt-4 order-head">My Orders</h5>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg1.svg" alt="Chitchat" />
            <span class="ms-3 my-account-password">All (150)</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg2.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Pending (150)</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg3.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Processing (150)</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg4.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Delivered (150)</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg5.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Delivered (150)</span>
          </a>
        </li>
        <h5 class="pt-3">Personal Information</h5>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg6.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Personal Details</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg7.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Delivery Details</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg8.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">My Wishlist</span>
          </a>
        </li>
        <h5 class="pt-3">My Assets</h5>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg9.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">My Coupons</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg10.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">My Wallet</span>
          </a>
        </li>
        <h5 class="pt-3">Get in Touch</h5>
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0">
            <img src="assets/images/myaccount/svg11.svg" alt="Chitchat" />
            <span class="ms-3 my-account-text">Contact Us</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <p class="personal-title">My Wallet</p>
      <div class="my-wallet-box pb-3">
        <h6>Bumi Wallet Balance</h6>
        <p>KES <span>333,333</span></p>
      </div>
      <p class="personal-title pt-5">FUND YOUR WALLET</p>

      <div class="fund-wallet">
        <div class="mb-3 row pt-2">
            <label for="inputPassword" class="col-sm-1 col-form-label">Ksh</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" placeholder="Amount" id="amount">
            </div>
      </div>
    
    </div>
    <div class="form-check pt-5">
      <input
        class="form-check-input mt-3"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioDefault1"
      />
      
      <img class="pt-1 img-fluid" src="../../../../../../assets/images/lifestyle/visa.png" alt="">  <span class="pl-5">Pay Via Debit/ Credit Card</span> <br>
      <img class="pt-1 img-fluid" src="../../../../../../assets/images/lifestyle/master.png" alt="">
    </div>
    <div class="form-check pt-5">
      <input
        class="form-check-input mt-3"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioDefault1"
      />
      
      <img class="pt-1 img-fluid" src="../../../../../../assets/images/lifestyle/visa.png" alt="">  <span class="pl-5">Pay Via Paypal</span>
    </div>
    <div class="pesonal-info-btn mt-4 pb-3">
      <button type="button" class="btn">ADD FUNDS</button>
    </div>
  </div>
</div>
