<div class="settings-wrapper">
    <div class="sub-header">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h3 class="title">Settings</h3>
            </div>
            <div class="col-sm-6">
                <div class="date-time">
                    <div class="time-info">
                        <span>08:05</span>
                        <div class="time">
                            <p>AM</p>
                            <span>Monday</span>
                        </div>
                    </div>
                    <div class="date">
                        <span>07 Apr</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="settings-banner">
        <div class="row align-items-center">
            <div class="col-sm-8">
                <h2>The Bumi <br /> Control Panel</h2>
            </div>
            <div class="col-sm-4 text-end">
                <img width="225px" class="opacity-25" src="assets/images/setting-banner.svg" alt="" />
            </div>
        </div>
    </div>

    <div class="settings-list">
        <div class="settings-box"  (click)="OnClickCapabilitiesSettings()">
            <img src="assets/images/capabilities-settings.svg" alt="" />
            <p>Capabilities Settings</p>
        </div>
        <div class="settings-box" (click)="OnClickCommissionSettings()">
            <img src="assets/images/commission-settings.svg" alt="" />
            <p>Commission Settings</p>
        </div>
        <div class="settings-box" (click)="OnClickMarketplaceSettings()">
            <img src="assets/images/marketplace-settings.svg" alt="" />
            <p>Marketplace Settings</p>
        </div>
        <div class="settings-box" (click)="OnClickWithdrawalSettings()">
            <img src="assets/images/withdrawal-settings.svg" alt="" />
            <p>Withdrawal Settings</p>
        </div>
        <div class="settings-box" (click)="OnClickPaymentSettings()">
            <img src="assets/images/payment-settings.svg" alt="" />
            <p>Payment Settings</p>
        </div>
        <div class="settings-box" (click)="OnClickOrderSettings()">
            <img src="assets/images/order-settings.svg" alt="" />
            <p>Order Settings</p>
        </div>
        <div class="settings-box" (click)="OnClickRefundSettings()">
            <img src="assets/images/refund-settings.svg" alt="" />
            <p>Refund Settings</p>
        </div>
        <div class="settings-box" (click)="OnClickGeoLocationSettings()">
            <img src="assets/images/geo-location-settings.svg" alt="" />
            <p>Geo Location Settings</p>
        </div>
        <div class="settings-box" (click)="OnClickShippingSettings()">
            <img src="assets/images/shipping-settings.svg" alt="" />
            <p>Shipping Settings</p>
        </div>
        <div class="settings-box" (click)="OnClickReviewSettings()">
            <img src="assets/images/review-settings.svg" alt="" />
            <p>Review Settings</p>
        </div>
    </div>
</div>