<!-- 
<!doctype html>
<html lang="en"> -->

    <!-- <body> -->
       
        <nav class="navbar navbar-expand-md">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample04">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/customer/new']"  >New</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/customer/stars']" >Stars</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/customer/brands']" >Brands</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  routerLinkActive="active" [routerLink]="['/customer/beauty']" >Beauty</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/customer/fashion']" >Fashions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/customer/lifestyle']" >Lifstyle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/customer/discover']" >Discover</a>
                        </li>


                    </ul>
                    <form class="search-form">
                        <input class="form-control" type="text" placeholder="Search">
                        <button>
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    <!-- </body> -->
<!-- </html> -->
