<app-header-top></app-header-top>
<!-- <app-header></app-header> -->
<section id="breadcum">
  <div class="container">LATEST NEWS/ TRENDS</div>
</section>
<div class="discover-banner">
  <img
    class="img-fluid"
    src="../../../../../assets/images/discover/trends-banner.png"
    alt=""
  />
</div>
<section id="product_list" class="text-center blue">
  <div class="container">
    <div class="title">
      <span>Bumi Self Help</span>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="help_wrap">
          <div class="help_img">
            <img src="../../../../assets/images/h1.png" /><a
              href="#"
              class="play"
              ><img src="../../../../assets/images/play.png"
            /></a>
            <a href="#" class="watch"
              ><img src="../../../../assets/images/watch.png"
            /></a>
            <a href="#" class="btn btn-primary"
              >Watch & Shop
              <i class="fa fa-mobile"></i>
            </a>
          </div>
        </div>
        <div class="help_title">
          <h3>Makeup Tutorial</h3>
          <p>Chantelle Petit</p>
          <p>95K View • 12 Hours Ago</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="help_wrap">
          <div class="help_img">
            <img src="../../../../assets/images/h2.png" /><a
              href="#"
              class="play"
              ><img src="../../../../assets/images/play.png"
            /></a>
            <a href="#" class="watch"
              ><img src="../../../../assets/images/watch.png"
            /></a>
            <a href="#" class="btn btn-primary"
              >Watch & Shop
              <i class="fa fa-mobile"></i>
            </a>
          </div>
        </div>
        <div class="help_title">
          <h3>Makeup Tutorial</h3>
          <p>Chantelle Petit</p>
          <p>95K View • 12 Hours Ago</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="help_wrap">
          <div class="help_img">
            <img src="../../../../assets/images/h3.png" /><a
              href="#"
              class="play"
              ><img src="images/play.png"
            /></a>
            <a href="#" class="watch"
              ><img src="../../../../assets/images/watch.png"
            /></a>
            <a href="#" class="btn btn-primary"
              >Watch & Shop
              <i class="fa fa-mobile"></i>
            </a>
          </div>
        </div>
        <div class="help_title">
          <h3>Eye & Lips Care Tutorial</h3>
          <p>Chantelle Petit</p>
          <p>95K View • 12 Hours Ago</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="product_list" class="text-center dpink">
  <div class="container">
    <div class="title">
      <span>Discover Bumi Ariticles</span>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="bhumi-article">
          <img
            class="img-fluid"
            src="../../../../../assets/images/discover/makeup.png"
            alt=""
          />
          <h6>Makeup</h6>
          <p>
            Discover the latest makeup looks, learn how to apply foundation and
            more with Bumi makeup tutorials.
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="bhumi-article">
          <img
            class="img-fluid"
            src="../../../../../assets/images/discover/makeup.png"
            alt=""
          />
          <h6>Makeup</h6>
          <p>
            Discover the latest makeup looks, learn how to apply foundation and
            more with Bumi makeup tutorials.
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="bhumi-article">
          <img
            class="img-fluid"
            src="../../../../../assets/images/discover/makeup.png"
            alt=""
          />
          <h6>Makeup</h6>
          <p>
            Discover the latest makeup looks, learn how to apply foundation and
            more with Bumi makeup tutorials.
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="bhumi-article">
          <img
            class="img-fluid"
            src="../../../../../assets/images/discover/makeup.png"
            alt=""
          />
          <h6>Makeup</h6>
          <p>
            Discover the latest makeup looks, learn how to apply foundation and
            more with Bumi makeup tutorials.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-5">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-6">
        <div class="wedding-makeup">
          <h4>
            WEDDING MAKEUP TIPS TO PERFECT YOUR BRIDAL MAKEUP AND WEDDING MAKEUP
            LOOK
          </h4>
          <p>
            Discover the essential makeup for a wedding with products from
            Lancôme. Shop products for makeup for bridesmaids, bridal makeup,
            and wedding guests.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="makup-img">
          <img
            class="img-fluid"
            src="../../../../../assets/images/discover/img1.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-5">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-6">
        <div class="makup-img">
          <img
            class="img-fluid"
            src="../../../../../assets/images/discover/img1.png"
            alt=""
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="wedding-makeup">
          <h4>
            WEDDING MAKEUP TIPS TO PERFECT YOUR BRIDAL MAKEUP AND WEDDING MAKEUP
            LOOK
          </h4>
          <p>
            Discover the essential makeup for a wedding with products from
            Lancôme. Shop products for makeup for bridesmaids, bridal makeup,
            and wedding guests.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-5">
  <div class="container">
    <div class="row">
      <div
        id="myCarousel"
        class="carousel slide"
        data-ride="carousel"
        data-interval="0"
      >
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img
                      src="../../../../../assets/images/discover/img2.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="thumb-content">
                    <h4>HOW TO REFRESH YOUR MAKEUP COLLECTION</h4>
                    <p>
                      Does makeup expire? How to spot the signs of expired
                      makeup in your makeup collection according to makeup
                      expiry dates, product storage, and product type.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img
                      src="../../../../../assets/images/discover/img2.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="thumb-content">
                    <h4>HOW TO REFRESH YOUR MAKEUP COLLECTION</h4>
                    <p>
                      Does makeup expire? How to spot the signs of expired
                      makeup in your makeup collection according to makeup
                      expiry dates, product storage, and product type.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img
                      src="../../../../../assets/images/discover/img2.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="thumb-content">
                    <h4>HOW TO REFRESH YOUR MAKEUP COLLECTION</h4>
                    <p>
                      Does makeup expire? How to spot the signs of expired
                      makeup in your makeup collection according to makeup
                      expiry dates, product storage, and product type.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img
                      src="../../../../../assets/images/discover/img2.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="thumb-content">
                    <h4>HOW TO REFRESH YOUR MAKEUP COLLECTION</h4>
                    <p>
                      Does makeup expire? How to spot the signs of expired
                      makeup in your makeup collection according to makeup
                      expiry dates, product storage, and product type.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img
                      src="../../../../../assets/images/discover/img2.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="thumb-content">
                    <h4>HOW TO REFRESH YOUR MAKEUP COLLECTION</h4>
                    <p>
                      Does makeup expire? How to spot the signs of expired
                      makeup in your makeup collection according to makeup
                      expiry dates, product storage, and product type.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img
                      src="../../../../../assets/images/discover/img2.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="thumb-content">
                    <h4>HOW TO REFRESH YOUR MAKEUP COLLECTION</h4>
                    <p>
                      Does makeup expire? How to spot the signs of expired
                      makeup in your makeup collection according to makeup
                      expiry dates, product storage, and product type.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img
                      src="../../../../../assets/images/discover/img2.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="thumb-content">
                    <h4>HOW TO REFRESH YOUR MAKEUP COLLECTION</h4>
                    <p>
                      Does makeup expire? How to spot the signs of expired
                      makeup in your makeup collection according to makeup
                      expiry dates, product storage, and product type.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img
                      src="../../../../../assets/images/discover/img2.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="thumb-content">
                    <h4>HOW TO REFRESH YOUR MAKEUP COLLECTION</h4>
                    <p>
                      Does makeup expire? How to spot the signs of expired
                      makeup in your makeup collection according to makeup
                      expiry dates, product storage, and product type.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img
                      src="../../../../../assets/images/discover/img2.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="thumb-content">
                    <h4>HOW TO REFRESH YOUR MAKEUP COLLECTION</h4>
                    <p>
                      Does makeup expire? How to spot the signs of expired
                      makeup in your makeup collection according to makeup
                      expiry dates, product storage, and product type.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img
                      src="../../../../../assets/images/discover/img2.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="thumb-content">
                    <h4>HOW TO REFRESH YOUR MAKEUP COLLECTION</h4>
                    <p>
                      Does makeup expire? How to spot the signs of expired
                      makeup in your makeup collection according to makeup
                      expiry dates, product storage, and product type.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img
                      src="../../../../../assets/images/discover/img2.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="thumb-content">
                    <h4>HOW TO REFRESH YOUR MAKEUP COLLECTION</h4>
                    <p>
                      Does makeup expire? How to spot the signs of expired
                      makeup in your makeup collection according to makeup
                      expiry dates, product storage, and product type.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img
                      src="../../../../../assets/images/discover/img2.png"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="thumb-content">
                    <h4>HOW TO REFRESH YOUR MAKEUP COLLECTION</h4>
                    <p>
                      Does makeup expire? How to spot the signs of expired
                      makeup in your makeup collection according to makeup
                      expiry dates, product storage, and product type.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Carousel controls -->
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
