<app-header-top></app-header-top>
<!-- <app-header></app-header> -->
<section>
  <div class="faq-banner">
    <h1>The Smartest CX Platform</h1>
  </div>
  <div class="container pt-4">
    <div class="row">
      <div class="col-md-6">
        <div class="works-head">
          <h4>How It Works</h4>
        </div>
      </div>
      <div class="col-md-6">
        <div class="save-page-offline pt-2">
          <p>
            Save Page Offline
            <span
              >&nbsp;
              <img
                src="../../../../../assets/images/customer/toggle.svg"
                alt=""
            /></span>
            &nbsp; <span>SHARE PAGE</span>&nbsp;
            <span
              ><img
                src="../../../../../assets/images/customer/twitter.svg"
                alt="" />
              &nbsp;
              <img
                src="../../../../../assets/images/customer/facebook.svg"
                alt="" />
              &nbsp;<img
                src="../../../../../assets/images/customer/instagram.svg"
                alt=""
            /></span>
          </p>
        </div>
      </div>
    </div>
    <div class="plateform-head">
      <h1>A new way to make your dream possible</h1>
      <p>
        Grow your Business with us. We’ve made self-employment easy for you.
        Simply connect, buy and sell Mitumba items and begin the transformation
        journey.
      </p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card customer-box">
          <div class="card-body">
            <img
              src=".././../../../../assets/images/customer/shop.png"
              alt=""
            />
            <h5 class="card-title pt-3">Reach 51.1m</h5>
            <p class="card-text">
              Potential buyers With access to the internet and a smart phone.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card customer-box">
          <div class="card-body">
            <img
              src=".././../../../../assets/images/customer/shop.png"
              alt=""
            />
            <h5 class="card-title pt-3">Reach 51.1m</h5>
            <p class="card-text">
              Potential buyers With access to the internet and a smart phone.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card customer-box">
          <div class="card-body">
            <img
              src=".././../../../../assets/images/customer/shop.png"
              alt=""
            />
            <h5 class="card-title pt-3">Reach 51.1m</h5>
            <p class="card-text">
              Potential buyers With access to the internet and a smart phone.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-md-4">
        <div class="customer-mobile">
          <div class="card-body">
            <img
              class="img-fluid"
              src=".././../../../../assets/images/customer/mobile.png"
              alt=""
            />
            <h5 class="card-title pt-3">Reach 51.1m</h5>
            <p class="card-text">
              Potential buyers With access to the internet and a smart phone.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="customer-mobile">
          <div class="card-body">
            <img
              class="img-fluid"
              src=".././../../../../assets/images/customer/mobile.png"
              alt=""
            />
            <h5 class="card-title pt-3">Reach 51.1m</h5>
            <p class="card-text">
              Potential buyers With access to the internet and a smart phone.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="customer-mobile">
          <div class="card-body">
            <img
              class="img-fluid"
              src=".././../../../../assets/images/customer/mobile.png"
              alt=""
            />
            <h5 class="card-title pt-3">Reach 51.1m</h5>
            <p class="card-text">
              Potential buyers With access to the internet and a smart phone.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="support-bg pt-4">
    <div class="container">
      <h1>We’re here to help</h1>
      <p>
        Take advantage of Bumi Vendor training that will give you the
        opportunity to reach more customers who will put more money in your
        pocket. Our Training Support Team is here for you 24/7 to help you
        incase of any clarification. Use our Bumi Training, a resource center to
        help you through the process. Join Bumi and get peer-to-peer support
        from our engaged vendors and instructor community. This Facebook group
        is always on, always there, and always helpful.
      </p>
      <h3>Bumi Vendor Training</h3>
      <div class="row text-center">
        <div class="col-md-3">
          <div class="customer-photo-bg">
            <i class="fa fa-certificate" aria-hidden="true"></i>
          </div>
          <div class="customer-photo-text">
            <h6>Photography and Presentation</h6>
          </div>
        </div>
        <div class="col-md-3">
          <div class="customer-photo-bg">
            <i class="fa fa-certificate" aria-hidden="true"></i>
          </div>
          <div class="customer-photo-text">
            <h6>Photography and Presentation</h6>
          </div>
        </div>
        <div class="col-md-3">
          <div class="customer-photo-bg">
            <i class="fa fa-certificate" aria-hidden="true"></i>
          </div>
          <div class="customer-photo-text">
            <h6>Photography and Presentation</h6>
          </div>
        </div>
        <div class="col-md-3">
          <div class="customer-photo-bg">
            <i class="fa fa-certificate" aria-hidden="true"></i>
          </div>
          <div class="customer-photo-text">
            <h6>Photography and Presentation</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container pt-5">
      <div class="presentation-head">
        <ul>
            <li> <span class="customer-bg">1</span><span> <span class="customer-paragraph">Presentaion</span></span></li>
            <li><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A minus error at. Accusamus tempore consequuntur voluptatibus quidem quo natus odit consectetur unde aliquam. Quo incidunt omnis quis nisi eos. Voluptate!</p></li>
        </ul>
       
      </div>
      <div class="presentation-head">
        <ul>
            <li> <span class="customer-bg">2</span><span> <span class="customer-paragraph">Photography</span></span></li>
            <li><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A minus error at. Accusamus tempore consequuntur voluptatibus quidem quo natus odit consectetur unde aliquam. Quo incidunt omnis quis nisi eos. Voluptate!</p></li>
            <li><h5 class="customer-subparagraph">Shoes</h5></li>
           
            <li><p><i class="fa fa-window-minimize" aria-hidden="true"></i> <span class="pl-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur illo est quidem dicta officiis illum earum adipisci similique. Corrupti accusamus nulla deserunt nesciunt veniam odit nihil eius cumque ut qui.</span></p></li>
            <li><p><i class="fa fa-window-minimize" aria-hidden="true"></i> <span class="pl-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur illo est quidem dicta officiis illum earum adipisci similique. Corrupti accusamus nulla deserunt nesciunt veniam odit nihil eius cumque ut qui.</span></p></li>
            <li><p><i class="fa fa-window-minimize" aria-hidden="true"></i> <span class="pl-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur illo est quidem dicta officiis illum earum adipisci similique. Corrupti accusamus nulla deserunt nesciunt veniam odit nihil eius cumque ut qui.</span></p></li>

        </ul>
       
      </div>
     
  </div>
</section>
<app-footer></app-footer>
