<app-header-top></app-header-top>
<app-header></app-header>
<section class="bg-faq">
  <div class="container">
    <div class="faq-heading">
      <h1>Leapfrogging the future of Africa and changing lives, together.</h1>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6">
        <div class="customer-form">
          <i class="fa fa-search"></i>
          <input
            type="text"
            class="form-control form-input"
            placeholder="Search anything..."
          />
          <span class="left-pan"><i class="fa fa-microphone"></i></span>
        </div>
      </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-6">
            <div class="faq-box">
                <h5>Frequently Asked Questions</h5>
                <p>Read frequently asked questions from other vendors</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="faq-box">
                <h5>Frequently Asked Questions</h5>
                <p>Read frequently asked questions from other vendors</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="faq-box">
                <h5>Frequently Asked Questions</h5>
                <p>Read frequently asked questions from other vendors</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="faq-box">
                <h5>Frequently Asked Questions</h5>
                <p>Read frequently asked questions from other vendors</p>
            </div>
        </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
