<div class="settings-category-wrapper">
    <div class="settings-category-content">
        <div class="settings-breadcrumb">
            <h2>Settings > Marketplace Settings</h2>
            <div>
                <button type="button" class="btn btn-custom-light">CANCEL</button>
                <button type="button" class="btn btn-custom-secondary ms-4">SAVE</button>
            </div>
        </div>
        <div class="setting-category">
            <div class="settings-input-grp">
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label>Product Approval</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="custom-checkbox">
                            <input type="checkbox"> <!-- checked="checked"-->
                            <span class="checkmark"></span>
                        </label>
                        <p class="border-0 m-0 p-0 fs-6">Manage Vendor capabilities from <a
                                href="javascript:void(0)">Capability Settings</a></p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label>Store URL Base <span>*</span></label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" value="Store">
                        <p class="border-0 m-0 p-0 fs-6">Define the seller URL (https://bumi.ke/store/chantelle-petit)
                        </p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label>Product Approval</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="custom-checkbox">
                            <input type="checkbox"> <!-- checked="checked"-->
                            <span class="checkmark"></span>
                        </label>
                        <p class="border-0 m-0 p-0 fs-6">Uncheck this to disable Sold By display for products.</p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label>Sold By Label</label>
                    </div>
                    <div class="col-sm-8">
                        <select class="form-select">
                            <option selected>Sold By</option>
                            <option>Sold By 1</option>
                            <option>Sold By 2</option>
                            <option>Sold By 3</option>
                        </select>
                        <p class="border-0 m-0 p-0 fs-6">Sold by label along with store name under product archive
                            pages.</p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label>Sold By Template</label>
                    </div>
                    <div class="col-sm-8">
                        <select class="form-select">
                            <option selected>Simple</option>
                            <option>Simple 1</option>
                            <option>Simple 2</option>
                            <option>Simple 3</option>
                        </select>
                        <p class="border-0 m-0 p-0 fs-6">Single product page Sold By Template.</p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label>Sold By Position</label>
                    </div>
                    <div class="col-sm-8">
                        <select class="form-select">
                            <option selected>Below Add to Cart</option>
                            <option>Below Add to Cart 1</option>
                            <option>Below Add to Cart 2</option>
                            <option>Below Add to Cart 3</option>
                        </select>
                        <p class="border-0 m-0 p-0 fs-6">Sold by display position at Single Product Page.</p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label>Store Name Position</label>
                    </div>
                    <div class="col-sm-8">
                        <select class="form-select">
                            <option selected>At Header</option>
                            <option>At Header 1</option>
                            <option>At Header 2</option>
                            <option>At Header 3</option>
                        </select>
                        <p class="border-0 m-0 p-0 fs-6">Store name psition at Vendor Store Page.</p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label>Store List Sidebar</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="custom-checkbox">
                            <input type="checkbox"> <!-- checked="checked"-->
                            <span class="checkmark"></span>
                        </label>
                        <p class="border-0 m-0 p-0 fs-6">Uncheck this to disable store list sidebar.</p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label>Store Sidebar</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="custom-checkbox">
                            <input type="checkbox"> <!-- checked="checked"-->
                            <span class="checkmark"></span>
                        </label>
                        <p class="border-0 m-0 p-0 fs-6">Uncheck this to disable store sidebar.</p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label>Store Sidebar Position</label>
                    </div>
                    <div class="col-sm-8">
                        <select class="form-select">
                            <option selected>At Left</option>
                            <option>At Left 1</option>
                            <option>At Left 2</option>
                            <option>At Left 3</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label>Products per page</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" value="10">
                        <p class="border-0 m-0 p-0 fs-6">No of products at Store per page.</p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label>Store Related Products</label>
                    </div>
                    <div class="col-sm-8">
                        <select class="form-select">
                            <option selected>As per BUMI Default Rule</option>
                            <option>As per BUMI Default Rule 1</option>
                            <option>As per BUMI Default Rule 2</option>
                            <option>As per BUMI Default Rule 3</option>
                        </select>
                        <p class="border-0 m-0 p-0 fs-6">Single product page related products rule.</p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label>Store Related Products</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="products-img-box">
                            <div class="img-box">
                                <div class="remove-img">
                                    <img class="" src="assets/images/close.svg" alt="" />
                                </div>
                                <img class="product-img" src="assets/images/img_place1.png" alt="" />
                            </div>
                            <div class="img-box">
                                <div class="remove-img">
                                    <img class="" src="assets/images/close.svg" alt="" />
                                </div>
                                <img class="product-img" src="assets/images/ic_wanjugu.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label>Store Default Banner</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="products-img-box">
                            <div class="img-box">
                                <div class="remove-img">
                                    <img class="" src="assets/images/close.svg" alt="" />
                                </div>
                                <img class="banner-img" src="assets/images/img_place1.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label>Store List Default Banner</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="products-img-box">
                            <div class="img-box">
                                <div class="remove-img">
                                    <img class="" src="assets/images/close.svg" alt="" />
                                </div>
                                <img class="banner-img" src="assets/images/img_place1.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label>Banner Dimension(s)</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-6 mb-2">
                                <div class="row">
                                    <div class="col-6">
                                        <label class="fs-5 fw-bold">
                                            Width
                                            <img class="" src="assets/images/question-mark.svg" alt="" />
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" value="1650">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mb-2">
                                <div class="row">
                                    <div class="col-6">
                                        <label class="fs-5 fw-bold">
                                            Height
                                            <img class="" src="assets/images/question-mark.svg" alt="" /></label>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" value="250">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mb-2">
                                <div class="row">
                                    <div class="col-6">
                                        <label class="fs-5 fw-bold">
                                            Width (Mob)
                                            <img class="" src="assets/images/question-mark.svg" alt="" />
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" value="520">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mb-2">
                                <div class="row">
                                    <div class="col-6">
                                        <label class="fs-5 fw-bold">
                                            Height (Mob)
                                            <img class="" src="assets/images/question-mark.svg" alt="" />
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" value="250">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label>Disable Store Setup Widget</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="custom-checkbox">
                            <input type="checkbox"> <!-- checked="checked"-->
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label>On Uninstall</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="custom-checkbox">
                            <input type="checkbox"> <!-- checked="checked"-->
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>