<div class="wrapper">
    <div class="header">
        <div class="innerHeader">
            <div class="logoDiv">
                <a href="javascript:void(0)">
                    <img src="assets/images/white_logo.png" alt="Simpli HR" />
                </a>
            </div>
            <div class="rightMenu">
                <ul>
                    <li>
                        <a href="javascript:void(0)">Company</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Customers</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Support</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="thmBtn actionBtn"><span>Login</span><i class="fas fa-angle-down"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="contentDiv home_content">
        <div class="topBanner">
            <div class="container">
                <div class="innerBanner">
                    <div class="leftSide">
                        <h1>The Better way to Manage All Your HR Needs</h1>
                        <p>Streamline your HR programs quickly and update a needed Create customizable reports and dashboards</p>
    
                        <a href="javascript:void(0)" class="thmBtn actionBtn"><span>FREE TRIALS</span></a>
                    </div>
                    <div class="rightSide">
                        <div class="abstractImg">
                            <img src="assets/images/top_right_abstract.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="featureDiv">
            <div class="container">
                <div class="innerDiv">
                    <div class="leftSide">
                        <span class="tagLine">Features</span>
                        <h3 class="secTitle">We make solutions into reality</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                    </div>
                    <div class="rightSide">
                        <div class="boxDivs">
                            <div class="s-Box">
                                <div class="imgDiv">
                                    <img src="assets/images/ic_team_mngt.png" alt="Team Management" />
                                </div>
                                <h5>Team Management</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                            <div class="s-Box">
                                <div class="imgDiv">
                                    <img src="assets/images/ic_time_mngt.png" alt="Team Management" />
                                </div>
                                <h5>Time Schedule</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                            <div class="s-Box">
                                <div class="imgDiv">
                                    <img src="assets/images/_ic_project_task.png" alt="Team Management" />
                                </div>
                                <h5>Project and Task</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                            <div class="s-Box">
                                <div class="imgDiv">
                                    <img src="assets/images/ic_actvity_report.png" alt="Team Management" />
                                </div>
                                <h5>Activity Report</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="trustedCompany">
            <div class="container">
                <div class="innerDiv">
                    <h3 class="secTitle">Trusted with 3000+ Companies around the world</h3>
                    <div class="cmpnyLogo">
                        <img src="assets/images/Deloitte-logo.png" />
                        <img src="assets/images/Deloitte-logo.png" />
                        <img src="assets/images/Deloitte-logo.png" />
                        <img src="assets/images/Deloitte-logo.png" />
                    </div>
                </div>
            </div>
        </div>

        <div class="testimonials">
            <div class="container">
                <div class="innerDiv">
                    <div class="s-testi">
                        <div class="quoteImg">
                            <img src="assets/images/ic_left_quote.png" />
                        </div>
                        <div class="testi-content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make.</p>
                            <div class="author">
                                <b>- Julie Henderson</b>
                                <span>CEO at Samsung</span>
                            </div>
                        </div>
                    </div>
                    <div class="s-testi">
                        <div class="quoteImg">
                            <img src="assets/images/ic_left_quote.png" />
                        </div>
                        <div class="testi-content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make.</p>
                            <div class="author">
                                <b>- Julie Henderson</b>
                                <span>CEO at Samsung</span>
                            </div>
                        </div>
                    </div>
                    <div class="s-testi">
                        <div class="quoteImg">
                            <img src="assets/images/ic_left_quote.png" />
                        </div>
                        <div class="testi-content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make.</p>
                            <div class="author">
                                <b>- Julie Henderson</b>
                                <span>CEO at Samsung</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cta cta_freeTrial">
            <div class="container">
                <div class="innerDiv">
                    <div class="ctaInner">
                        <h2>Ready to get started?<br />It's fast, free and very early!</h2>
                        <a href="javascript:void(0)" class="thmBtn actionBtn">
                            <span>Free Trials</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="footer">
        <div class="container">
            <div class="innerFooter">
                <div class="foo-block">
                    <b>Company</b>
                    <a href="javascript:void(0)">About</a>
                    <a href="javascript:void(0)">Customer</a>
                    <a href="javascript:void(0)">Partners</a>
                    <a href="javascript:void(0)">News room</a>
                    <a href="javascript:void(0)">FAQs</a>
                    <a href="javascript:void(0)">Contact Us</a>
                </div>
                <div class="foo-block">
                    <b>Features</b>
                    <a href="javascript:void(0)">Team Management</a>
                    <a href="javascript:void(0)">Project & Task</a>
                    <a href="javascript:void(0)">Time Schedule</a>
                    <a href="javascript:void(0)">Activity Report</a>
                </div>
                <div class="foo-block">
                    <b>Contact Us</b>
                    <a href="javascript:void(0)">
                        <b>Phone</b>
                        <span>(800) 123-4567</span>
                    </a>
                    <a href="javascript:void(0)">
                        <b>Address</b>
                        <span>Sampling, FL, USA, 2345</span>
                    </a>
                    <a href="javascript:void(0)">
                        <b>Email</b>
                        <span>info@gmail.com</span>
                    </a>
                </div>
                <div class="foo-block">
                    <div class="socialIcons">
                        <a href="javascript:void(0)">
                            <img src="assets/images/ic_linkedin.png" />
                        </a>
                        <a href="javascript:void(0)">
                            <img src="assets/images/ic_fb.png" />
                        </a>
                        <a href="javascript:void(0)">
                            <img src="assets/images/ic_google.png" />
                        </a>
                    </div>
                    <div class="copyRight">
                        <small>Copyright ©SimpliHR.<br />All Rights Reserved</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>