<div class="settings-category-wrapper">
    <div class="settings-category-content">
        <div class="settings-breadcrumb">
            <h2>Settings > Shipping Settings</h2>
            <div>
                <button type="button" class="btn btn-custom-light">CANCEL</button>
                <button type="button" class="btn btn-custom-secondary ms-4">SAVE</button>
            </div>
        </div>
        <div class="setting-category">
            <div class="settings-input-grp">
                <div class="list">
                    <h4 class="title">Sold By Shipping Settings</h4>
                </div>
                <div class="row mb-4">
                    <div class="col-sm-4">
                        <label>Store Shipping</label>
                    </div>
                    <div class="col-sm-8">
                        <label class="custom-checkbox">
                            <input type="checkbox"> <!-- checked="checked"-->
                            <span class="checkmark"></span>
                        </label>
                        <p class="border-0 m-0 p-0 fs-6">Uncheck this to disable vendor wise store shipping options.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>